<div class="gettoknow-wrapper">
    <div class="case-width">

        <h3>LET'S KEEP GETTING TO KNOW ONE ANOTHER</h3>
        <div class="links-block">
            <a href="/about">MORE ABOUT ME <i class="fas fa-arrow-right"></i></a>
            <a target="_blank" href="assets/images/CRAIGGRAHAM.pdf">VIEW MY RESUME <i class="fas fa-arrow-right"></i></a>
            <a href="{{link}}">ANOTHER THRILLING CASE STUDY <i class="fas fa-arrow-right"></i></a>
            <a href="/">BACK TO HOME <i class="fas fa-arrow-right"></i></a>
        </div>  
    </div>
</div>
