<app-hero 
[title]="'How Might We Help Build Better Solutions?'"
[sub]="'A case study about UX empowered anyone at GE to create technical solutions'"
[case]="'coretech'"></app-hero>
<div class="main-container">

    <app-caseintro 
    [title]="'IMPROVING THE EMPLOYEE EXPERIENCE'"
    [description]="'Imagine this, you are tasked with creating the next generation of solutions at a fortune 10 company who is committed to transitioning to a leading technology company, but you have no experience setting up the infrastructure for your solution.  How would you navigate the complex technology infrastructure of a global company who has existed for over 100 years?  What information do you need to be successful? How do you even get started and where do you go for questions along the way? '"
    [company]="'General Electric'"
    [projectapproach]="'Double Diamond'"
    [roles]="['User Research','User Interviews', 'A/B Testing', 'Personas', 'Sketching', 'Wireframing', 'Visual Design', 'Interaction Design', 'Journey Mapping', 'Marketing']"></app-caseintro>

    <app-problemsolution
    [problem]="['GE was in the middle of being a corporation of managers who focused on making physical things, to a technology company of creators who needed to be empowered to create the digital solutions of tomorrow. This meant creating a self-service technology infrastructure request platform that would service the creation of the infrastructure required to support all of these new solutions. ']"
    [solution]="['CoreTech had already taken a first attempt at creating a solution for this problem, but found that it did not test well with users.  I conducted my own initial test of their solution and used the feedback to generate a B design to the Coretech design. This design ended up testing much better as matched the mental model users had going into the request process.  It also used best design principles to guide users through the process instead of forcing them navigate multiple data sources in order to complete a request. ']"
    [team]="['Our project team consisted of one UX Sr. Researcher (myself) and a business stakeholder from CoreTech who had reached out to the Innovation Studio (GE High Impact Technology Incubator) for help.']"
    ></app-problemsolution>

    <app-impact [title]="'The Impact'"
    [stats]="[['8%','Drop in the number', ' of support calls to CoreTech related to ordering products'],
    ['14%','Increase in GE employees approval', ' rating of CoreTech (based on end of year survey)'],
    ['10%','Increase in successful', ' orders made from CoreTech.com']]"
    ></app-impact>

    <app-oldcoretech></app-oldcoretech>
    
    <app-gettoknow
    [link]="'/ford'"></app-gettoknow>
</div>