.impact-wrapper {
    clear: both;
    padding-top: 60px;
    padding-bottom: 60px;
    h3 {
        font-weight: 900;
        font-size: 32px;

        @media screen and (max-width:880px) {
            font-size: 32px;
            margin-bottom: 10px;
        }
        @media screen and (max-width:480px) {
            font-size: 28px;
            margin-bottom: 50px;
        }
    }

    .stat-block {
        .stat-line {
            clear: both;
            height: 80px;
            margin-bottom: 40px;
            display: flex;
            position: relative;

            @media screen and (max-width:480px) {
                height: auto;
                margin-bottom: 115px;
            }
            
            .circle-stat {
                width: 80px;
                height: 80px;
                border-radius: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                float:left;
                margin-right: 30px;

                &.blueOne {
                    background-color: #2B7A77;
                }

                &.blueTwo {
                    background-color: #17242A;
                }

                &.blueThree {
                    background-color: #3BAEAA;
                }
                
                h3 {
                    color: #FFF;
                    font-weight: 900;
                    font-size: 28px;
                    @media screen and (max-width:880px) {
                        margin-top: 45px;
                    }
                }

                @media screen and (max-width:480px) {
                    clear: both;
                    float: none;
                    position: absolute;
                    margin-left: -40px;
                    left: 50%;
                }

            }
            .stat-content {
                font-size: 18px;

                @media screen and (max-width:480px) {
                    position: relative;
                    top: 80px;
                    text-align: justify;
                }

                .left {
                    font-weight: bold;
                }
                .right {

                    font-weight: normal;
                }
            }

        }
    }
}