<div class="case-width">

    <div class="section">
        <h3>THE RESEARCH</h3>

        <p>My challenge was to help CoreTech create a solution that would streamline the process of acquiring IT services in GE and empower GE employees to make product and service acquisition decisions on their own.  In order to do this I needed to understand how the process had traditionally worked and to empathize with users in a way that would allow me to truly understand their experience when interacting with IT shared services.</p>
                
        <p>I discovered that that interaction was a very complex and time intensive process which required a lot of “tribal knowledge” in order to complete. IT shared services was spread out across many different portals which utilized different processes and designs. Additionally there were very few products and services that could actually be obtained without requiring some form of person-to-person interaction. Even more challenging for employees was understanding how each of their products and services related to one another and how those dependences would affect the solution they were trying to build.  </p>
               
        <p>I was originally only brought into this project to conduct a single round of usability testing on the beta version of CoreTech’s shared IT services site.  However, the results of that round of testing suggested that substantial changes needed to be made to the information architecture strategy and the goals the project was striving to achieve.</p>
                
        <p>Based on my recommendations the CoreTech team agreed to my proposal to improve their own Beta design while I explored a different direction for the project with a mockup created in Axure. Once both new designs were ready I would conduct a second round of usability testing to evaluate if 1) The changes to the beta design were successful in addressing the shortcomings identified in the first round of testing and 2) if an alternative direction, as represented in my mockup, would more effectively meet users needs. </p>
                                
        <p>Building an alternative design meant becoming more than just a Usability Testing Consultant.  I was potentially producing a design that would drastically change the direction of already well established project should my alternative direction prove to be far more effective than the current approach.  As a result it became imperative that I maintained a high level of transparency and communication around the work that I was doing in order to create a strong working dynamic.</p>
                
        <h4>BUILDING TRUST AND AWARENESS</h4>

        <p>UX testing, research and design is a fairly new addition within GE, so any project that I was involved with while at GE always included a lot of evangelizing. That was particularly true during my time with CoreTech as it was a very politically charged project with a lot of stakeholders who had a personal stake in the project’s outcome. As a result my goal became to keep the focus of all the stakeholders on the user’s and what they would need in order to be successful when interacting with CoreTech.</p>
                
        <p>Thankfully I already had years of experience working within GE’s culture which I could use in order to communicate the results of my research in a way which stakeholders could relate too.  The legacy culture at GE was still very focused on quantitative results and while UX does not always yield very clear cut percentage-based results I did my best to represent my results in terms of a percentage of users who were successful at meeting the goals all of the stakeholders had agreed on for the project.</p>
        
        <h4>THE DISCOVERY</h4>

        <p>Discovery research was run by an external contractor who conducted research interviews with a collection of different employees at GE and then created detailed user personas based on those results.  I was given the results of their research and a copy of their personas to use as my discovery for my portion of this project as well.</p>
                
        <p>The personas and research results were very well done and provided great insight into the needs, motivations and pain-points of CoreTech’s audience. As a matter of fact I was surprised to see how much of a disconnect between the insights shown in the personas and the actual design there was. It appeared as the though the design had been created without taking any guidance from the researched conducted. </p>
        
        <p>At a high level, the research showed that the audience had three shared goals 1) to have a self-service shared IT services site 2) to have one unified location for all shared IT services information and 3) to be able to see the roadmap for products and services.</p>
                
        <div class="image-container">
            <h5>The Audience</h5>
            <img src="assets/images/oldPortfolio/caseStudies/ct/audience.png"/>
        </div>

        <div class="image-container">
            <h5>The Primary Persona</h5>
            <img id="persona" src="assets/images/oldPortfolio/caseStudies/ct/clay.png"/>
        </div>

        <h4>SHARED GOALS REQUIRING DIFFERENT FUNCTIONALITY</h4>
        <p>While the personas generally shared the same high level goals, they required different implementations in order to fulfill different personas specific needs. This meant that a successful solution would rely heavily on an intuitive information architecture to create clear, distinct user journeys depending on the user's needs. </p>
                
        <p>Without such an information architecture strategy it was likely that users would have difficulty relating to the goal of the site and become frustrated as they struggle to find the content or functionality they expected. </p>
        
        <div class="bullet-points">

            <div class="bullet">
                <img src="assets/images/oldPortfolio/caseStudies/ct/clayhs.jpg"/>
                <p><span>As an Cloud Application Developer</span> I want to be able to Research, Acquire, Implement, Deploy &amp; Maintain CoreTech products within coretech.com so that I don't have to use multiple portals.</p>
            </div>

            <div class="bullet">
                <img src="assets/images/oldPortfolio/caseStudies/ct/markhs.jpg"/>
                <p><span>As a 1st Lvl Manager</span> I want to see the roadmap of a product so that I can help my team prepare for any changes which might impact our projects.</p>
            </div>

            <div class="bullet">
                <img src="assets/images/oldPortfolio/caseStudies/ct/maryhs.jpg"/>
                <p><span>As a 2nd Lvl Manager</span> I want to see actionable information about each service so that I can make an informed decision.</p>
            </div>
        </div>

    </div>

    <div class="section">
        <h3>THE BETA DESIGN (CREATED BY CORETECH)</h3>

        <p>My first task as part of this project was to conduct usability testing on the beta version of the CoreTech Shared IT Services website.  As stated above, I did not create this design and I do not claim any credit for the work shown in the images below. This is being shown so you the reader have context for the test kit I created to evaluate the beta site. </p>        

        <div class="image-container">
            <h5>The Beta Homepage</h5>
            <img src="assets/images/oldPortfolio/caseStudies/ct/beta_home.png"/>
        </div>

        <div class="image-container">
            <h5>The Beta Navigation</h5>
            <img src="assets/images/oldPortfolio/caseStudies/ct/navigation-beta-mockup.png"/>
        </div>

        <div class="image-container">
            <h5>The Beta Product Page</h5>
            <img src="assets/images/oldPortfolio/caseStudies/ct/product-beta-mockup.png"/>
        </div>

    </div>

    <div class="section">
        <h3>USABILITY TESTING THE BETA DESIGN</h3>

        <p>CoreTech wanted to see if their beta site enabled their users to achieve the set of user goals they set out for their MVP release.  In order to make this evaluation I decided to take break the goals down by persona.  To achieve this I created a series of scenarios which required the test participant to see if they could use the beta design to complete a specific MVP goal. </p>
                
        <p>This approach leads to more insightful feedback as it places the participant in real world situations without scripted directions detailing how to interact with the application to achieve their goal.  Instead it more accurately reflects how a user is likely to interact with the site once it goes live.</p>
            
        <div class="image-container">
            <h5>The Beta Usability Test Kit</h5>
            <img src="assets/images/oldPortfolio/caseStudies/ct/test-kit.png"/>
        </div>

        <h4>The Results</h4>

        <p>Analyzing the feedback I received from four participants yielded troubling insights into the beta site’s ability to enable users to fulfill their fundamental motivations for visiting the site. In summary the participant’s feedback all suggested that the beta site did not provide any actionable information and failed to provide the primary functionality they would visit the site for. </p>
                
        <p>As a result they unanimously reported high levels of frustration, disappointment, confusion and that they would not return to the site.  Instead they would all choose to utilize alternative methods, such as speaking directly with a person on the shared IT services team to obtain CoreTech products or services. </p>

        <div class="image-container">
            <h5>The Beta Usability Test Kit</h5>
            <img src="assets/images/oldPortfolio/caseStudies/ct/round-one-test-results.png"/>
        </div>

        <p>After I concluded my analysis of the beta site usability testing results I delivered those results to the CoreTech team along with a list of recommendations to address the beta sites shortcomings. Given that the feedback suggested there could be a fundamental misunderstanding of the users needs, motivations and goals I also proposed that I be given the opportunity to create an alternative design and conduct A/B testing with the two resulting designs using the same test kit as before.</p>
                
        <p>The CoreTech agreed that the extent of the negative feedback they received warranted a possible revaluation of the CoreTech site. I was given three weeks to develop an alternative design and then conduct another round of testing.</p>

    </div>

    <div class="section">
        <h3>CREATING THE DESIGN B</h3>

        <p>It was my belief that the beta site received as much criticism as it did because the design tried to impose a different process for obtaining shared IT services then CoreTech customers expected.  Given this, I believed I might be able to design a better process if I took a step back and considered the entire journey each persona traveled while using a CoreTech product or service.</p>
                
        <p>To help me organize and visualize these journeys I created experience maps for each of the primary personas.  This helped me to identify the user’s pain-points and opportunities to make the design architecture fit the way users research, obtain and use CoreTech product and services.  </p>

        <div class="image-container">
            <h5>Journey Map</h5>
            <img src="assets/images/oldPortfolio/caseStudies/ct/experiencemap.png"/>
        </div>

        <p>Using the experience maps and the usability test feedback I was able to recognize that users did not visit CoreTech to find a specific product, but that they were motivated to visit by the need to find a solution to a problem.  As a result I thought it would make more sense to organize the site by solutions and the collection of product and services that would make up the typical solution to that problem.  For example instead of listing servers, databases and VM software, simply list a Web Application Hosting solution. </p>
                
        <p class="text last">In addition I wanted to recreate the design to make actionable information more predominant in the site and display that content in a way which is more relatable to the user.  For example on the homepage I switched out an aesthetically pleasing image of GE windmills for a simple infographic showing the core services offered through the site.  </p>

        <div class="image-container">
            <h5>A/B Designs Side-by-Side</h5>
            <img src="assets/images/oldPortfolio/caseStudies/ct/side-by-side.png"/>
        </div>

        <h4>Second A/B Test Results</h4>

        <p>Using the same test kit that I used for the previous usability tests I conducted an A/B test with four different users.  The high level takeaway from the A/B test was that my alternative design (referred to as Design B) did a better job at meeting users expectations for their interaction CoreTech.  Users of Design B were able identify with the content of the site and navigate it intuitively compared to the beta site (referred to as the Current CoreTech Design). However, the feedback suggested that my alternative design did not go far enough to push solutions over products.</p>        
                
        <div class="image-container">
            <img src="assets/images/oldPortfolio/caseStudies/ct/round-two-test-results.png"/>
        </div>
    </div>

    <div class="section">

        <h3>THE SOLUTION</h3>

        <p class="text last">Following the feedback of the users I created a second iteration design that focused on creating solutions built from a collection of products and services.  This approach took on a wizard-like design pattern that guided the user through a series of questions to create the optimal package of products and services for their needs. The design also focused on maintaining constant feedback with the user so that at all times they know the status, cost and contents of their order. </p> 

        <div class="video-container">
            <video width="100%" controls>
                    <source src="assets/images/CoreTechAssets/walkthrough.mp4" type="video/mp4">
                    Your browser does not support the video tag.
            </video> 
        </div>
    </div>

</div>