<div class="header">
    <div class="left">
        <img src="assets/images/logo.png"/>
    </div>

    <div class="right">
        <div class="links">
            <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">My Work</a>
            <a routerLink="/about" routerLinkActive="active">About Me</a>
            <a routerLink="/designbits" routerLinkActive="active">Design Bits</a>
            <a routerLink="/contact" routerLinkActive="active">Contact Me</a>
        </div>
        <div class="contact-squares">
            <div class="square">

            </div>
            <div class="square">
                
            </div>
            <div class="square">
                
            </div>
        </div>
    </div>
</div>