<div class="header">
    <div class="left">
        <img src="assets/images/logo.png"/>
    </div>

    <div class="right">
        <div class="links">
            <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">My Work</a>
            <a routerLink="/about" routerLinkActive="active">About Me</a>
            <a routerLink="/designbits" routerLinkActive="active">Design Bits</a>
            <a routerLink="/contact" routerLinkActive="active">Contact Me</a>
        </div>
        <div class="contact-squares">
            <a href="https://www.linkedin.com/in/craig-graham-04677748/" class="square">
                <i class="fab fa-linkedin-in"></i>
            </a>
            <a href="https://twitter.com/Runner4Fun" class="square">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="mailto:grahamcr.gvsu@gmail.com" class="square">
                <i class="fas fa-envelope"></i>
            </a>
        </div>
    </div>
</div>