<app-hero 
[title]="'About Me'"
[sub]="'Researcher&nbsp;  -  &nbsp;Designer&nbsp;  -  &nbsp;Developer&nbsp;  -  &nbsp;Craftsman&nbsp;  -  &nbsp;Father'"
[case]="'aboutBeach'"></app-hero>
<div class="main-container">

    <div class="case-width intro">
        <h3>FIVE FACTS ABOUT ME</h3>
        <p>First off thank you for taking the time to review my portfolio up to this point.  I know you have received hundreds of applications for this opportunity and I am honored to have made it this far in your process.  I know that your time is valuable so here is my elevator pitch about me so we can get to know each other better: </p>
    </div>


    <app-impact [title]="''"
    [stats]="[['1','I am a father of two', ' boys who keep me on my toes and never let me sleep.  They are my running buddies, helpers and partners in crime '],
    ['2','I believe UX should not be confined to a screen.', ' Sometimes the best solution to a problem goes beyond pixels and is actually solved through process changes '],
    ['3','In my free time I run', ' I have run races as long as 50 miles and look forward to competing in my first 12 hour race in 2020.'],
    ['4','I am an advocate for the Foster Care Crisis.', ' I started the Change the Narrative Project with hopes of bringing awareness to the over 500,000 children in foster care today.'],
    ['5','When I am not doing any of that I am remodeling our home.', ' As a want-to-be Chip Gaines I spend a lot of time building my family the house of our dreams']]"
    ></app-impact>

    <div class="new-section">
        <div class="case-width">
            <h3>THE SERIOUS STUFF</h3>
        
           <p>I am a Nelson Norman Group Certified UX professional with seven years of experience researching, managing, designing and developing experiences that make a difference.  I view UX as a data driven design process, where every design decision is made using qualitative and quantitative evidence.  I believe that the core of goal of UX should be to improve the lives of others whether it be making workflows more intuitive and efficient to use or creating software that keeps people safe. </p>
           
           <p>The best part of UX is getting to work in a collaborative environment where your goal everyday is to research and create solutions to complex challenges. I am a believer in Agile (both the big and little A kind) and that the fastest way to the best solution is through failure. For more on how I view UX check out this nifty Mind Map of mine:</p>


           <app-imgexploder [padding]="'pad'" [imgsrc]="'assets/images/oldPortfolio/whatIsUx.png'"></app-imgexploder>
           

        </div>
    </div>

    <div class="centered-call">
        <h2>Looking To Find Out More?</h2>
        <a id="download" target="_blank" href="assets/images/CRAIGGRAHAM.pdf">View My Resume</a>
    </div>

    <div class="new-section" style="margin-top: 150px;">
        <div class="case-width">

            <h3>Bonus: A few more pictures to get to know me better</h3>

            <div class="image-container">
                
                <img class="flip180" src="assets/images/about/pdg.jpg"/>
            </div>
        
            <div class="image-container" style="margin-top: 140px;">
                <img class="flip90" src="assets/images/about/running.jpg"/>
            </div>

            <div class="image-container" style="margin-top: 140px;">
                <img style="width: 60%; margin-left: 20%;" src="assets/images/about/icecream.jpg"/>
            </div>

        </div>

        <app-gettoknow
    [link]="'/acgmap'"></app-gettoknow>
    </div>


    


    

    


    

</div>


<!--

<div id="about-page-new">

    <div class="container-fluid">
    
        <div class="banner-row row">
                
            <div class="text-col col-md-6 col-sm-8 col-xs-6">
                <div class="inner">
                    <p class="name">CRAIG GRAHAM</p>
                    <p class="tag">Researcher.&nbsp;&nbsp;Designer.&nbsp;&nbsp;Developer.&nbsp;&nbsp;<span class="bold">Craftsman.</span></p>
                    

      
                </div>
            </div>
            
            <div class="col-md-6 col-sm-4 col-xs-6 img-col">
            
            </div>
            
        </div>
        
        <div class="below-fold">
        
            <section class="text-section first">
            
                <div class="text-section-inner left-align col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
                
                    <p class="sub-header first">My Elevator Pitch</p>
                    <p class="text">I take complex technical concepts and distill them into delightful user experiences to improve customer perception, employee effectiveness and user morale. My specialty is quickly translating research into value through iterative design, rapid prototyping and design sprints. I believe my portfolio demonstrates an ability to empathize with users and create beautiful visualizations and experiences users can relate to, enjoy and use efficiently. I received a Bachelors of Science in Computer Science from Grand Valley State University in 2012 and have been designing user experiences and developing software for such notable organizations as the National Security Agency, Booz Allen Hamilton and General Electric Company since then. </p>

                    <p class="sub-header">How I View UX</p>
                    <p class="text">I believe that UX shouldn’t be confined to a screen and that is beneficial to take a step back and consider the entire experience of a user beyond the pixels they will manipulate. I believe that at is core the goal of UX is to improve the lives of others, whether it be through software, physical design or strategic vision. </p>

                    <p class="sub-header">User Advocate &amp; Storyteller</p>
                    <p class="text last">I am a storyteller with a passion for creating memorable stories which enable others to empathize with user's goals, needs and pain-points. It is my goal to use every tool in my repertoire to build a continuous understanding of an offerings users in order to create actionable insights for the benefit of the entire team and it's stakeholders.</p>

                </div>
                
            </section>
            
            <section class="text-section blue-section">
            
                <div class="text-section-inner col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
                
                    <p class="sub-header">Want to know even more about me?</p>
                    
                    <a id="download" target="_blank" href="assets/images/CRAIGGRAHAM.pdf">View Resume</a>
                   
                </div>
                
            </section>
            
            <div id="mind-map">
                <p id="title">TL;DR?</p>
                <p id="subtitle">No worries - here is a glace into how I view UX</p>

                <img src="assets/images/oldPortfolio/whatIsUx.png"/>
            </div>
            
            
            
            <section class="case-footer blue row">

                <div class="col-md-12 col-sm-12 col-xs-12 case-footer-col">
                   
                </div>

            </section>
            
        </div> 
        
    </div>
    
</div>
-->


    


  

