<app-hero 
[title]="'Advantage Communications Command Center'"
[sub]="'Building Partnership Through Transparency'"
[case]="'map'"></app-hero>

<div class="main-container">

    <app-simplecaseintro 
    [title]="'Take Command Of Your Data'"
    [description]="'Imagine you just started a new job as the first UX Designer a small technology company has ever hired.  Your initial project for the company is to completely reconceptualize the way information is presented to customers.  Your timeline is six months until development has to be completed and you have no background knowledge, research or documentation to leverage.  How do you create a successful platform and conduct enough research to make sure you are advocating for building the right solution?'">
    </app-simplecaseintro>

    <div class="bit-block case-width">
    
        <h4>Access to data the way customers think</h4>
        <p>Users come to Command Center with a goal in mind, often one that is time sensitive.  Therefore I took care to make sure information was organized specifically to match their mental model.</p>

        <app-imgexploder [padding]="'pad'" [imgsrc]="'/assets/images/designbits/map/mapmenu.png'"></app-imgexploder>

        <h4>Beautiful and more importantly, functional</h4>
        <p>While it was important that Command Center was aesthetically pleasing to help with sales, it was even more important that what was being display was actionable for the user. </p>

        <app-imgexploder [padding]="'pad'" [imgsrc]="'/assets/images/designbits/map/network.png'"></app-imgexploder>

        <h4>Quick access to related information</h4>
        <p>To support our user's goal of getting to actionable information fast I made sure supporting information was always easily accessible, no matter how they entered the experience.</p>

        <app-imgexploder [padding]="'pad'" [imgsrc]="'/assets/images/designbits/map/location.png'"></app-imgexploder>

        <h4>Leveraging consistency</h4>
        <p>Every details page follows the same design pattern of putting high level, important and frequently accessed information at the top, followed by the supporting information.</p>

        <app-imgexploder [padding]="'pad'" [imgsrc]="'/assets/images/designbits/map/order.png'"></app-imgexploder>

        <h4>Want to see more?</h4>
        <p>Here is a quick walk-through of a portion of the high fidelity mockup I created for this project</p>

        <div class="video-container">
            <video width="100%" controls>
                    <source src="/assets/images/designbits/map/walkthrough.mp4" type="video/mp4">
                  Your browser does not support the video tag.
            </video> 
        </div>

    </div>

    <app-dbgettoknow
    [link]="'/kiwi'"></app-dbgettoknow>
</div>