<div class="case-width">

    <div class="section">
            <h3>THE RESEARCH</h3>
        
            <p>As UX Subject Matter Expert of the Innovation Studio Way Project Accelerator I had the opportunity to help other team’s leverage their unique skill sets to create amazing products that would improve the employee experience at GE.  One such team had created an algorithm that was particularly good at taking input and creating fuzzy matches between instances within data.  It was an awesomely powerful tool, but it didn’t have much of a purpose at the time within GE.  Therefore, the team started to wonder if they could use this approach to improve the way that information was found in GE. </p>
                
            <p>That question is where I came in.  I was asked to research how employees were finding the information they needed to do their everyday jobs at GE and discover if there was a way that this team could make it better using their fuzzy matching algorithm. </p>
                
            <p>I started by conducting open-ended contextual inquiry research with a variety of employees around the company in order to empathize with the challenges employees faced when trying to locate valuable information on GE’s Intranet.  </p>
                
            <h4>FINDING OUT JUST HOW BAD IT WAS</h4>
    
            <p>Discovery was run as a multiple week sprint where I conducted contextual inquiry interviews with prospective users and developed personas based on the research results. The magnitude of how much people were struggling to find information was incredible with employees reporting spending two or three hours a day looking for information with only a 50% success rate of finding the information they needed.  </p>
                
            <p>What was interesting was that there were several common trends across the results, which suggested that the system which was currently in place at GE was not supporting the way employees actually worked. These insights helped to shape the direction a new solution could take to empower users to find information the way they want. </p>
                                
            <div class="image-container">
                <h5>Research Takeaways</h5>
                <img id="persona" src="assets/images/oldPortfolio/shorts/now/takeaways.png"/>
            </div>

            <p>While analyzing the contextual inquiry interview results I started to see that most queries could be generalized into two different buckets. The first was someone looking for “a starting point to an engagement” and the second, someone looking for “the person who knows X”.  Given this I was able to create two primary personas, one for each case and one secondary persona to guide the design direction going forward.</p>

            <div class="image-container">
                <h5>Mike</h5>
                <img src="assets/images/oldPortfolio/shorts/now/mike.png"/>
            </div>

            <div class="image-container">
                <h5>Peggy</h5>
                <img src="assets/images/oldPortfolio/shorts/now/peggy.png"/>
            </div>

            <div class="image-container">
                <h5>Larry</h5>
                <img src="assets/images/oldPortfolio/shorts/now/larry.png"/>
            </div>


    </div>

    <div class="section">
        <h3>A/B TESTING</h3>
        <p>The two primary personas seemed to be generally at odds, one was looking for a specific starting point on the intranet, the other the person who is most knowledgeable about the problem they were looking to solve.  Generally speaking this came down to a preference, as both approaches would eventually lead to an answer, but which would better support the user and when?</p>
            
        <p>In order to answer this question I developed two deep interaction mockups using Axure and developed a scenario based usability test where I asked participants to independently complete a series of open-ended real life scenarios using each the mockups. One mockup emphasized organizing the most information we could identify related to the topic of the query and the second returned the person within GE who was most closely related to the query topic.  </p>
                    
        <div class="image-container">
            <h5>A/B Landing Pages</h5>
            <img src="assets/images/oldPortfolio/shorts/now/sbs-home.png"/>
        </div>

        <div class="image-container">
            <h5>A/B Results Pages</h5>
            <img src="assets/images/oldPortfolio/shorts/now/sbs-results.png"/>
        </div>

        <h4>A/B TESTING RESULTS</h4>
        <p class="text last">The results of the multivariate A/B test were clear, in some situations the contact information of a persona will always be more useful, sometimes the right information will be more useful and yet other times it will take both to locate the answer to a query. Therefore, the most successful solution would display both types of information in a clean, scannable manner that would empower the user to make a decision for themselves. </p>

    </div>

    <div class="section">
            <h3>THE SOLUTION</h3>
            <p>The A/B Test results pushed the design toward a highly detailed search result which would empower the user to use whatever information they found helpful to ultimately locate the answer they were looking for.  Feedback also indicated that we could indeed ask the user for everything they knew about what they were looking for and expect that they would do so, suggesting the larger call to action search box.  We were also able to build out a way to gather information from the user regarding what we could user them as an expert for. </p>

            <div class="video-container">
                <video width="100%" controls>
                        <source src="assets/images/FinditAssets/findit_walkthrough.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                </video> 
            </div>
    </div>

</div>