<app-hero 
[title]="'The Change the Narrative Project'"
[sub]="'Wear A Shirt, Change The World'"
[case]="'ctnp'"></app-hero>

<div class="main-container">

    <app-simplecaseintro 
    [title]="'A Simple Idea - Use Design to Promote Change'"
    [description]="'Imagine you had just gone through one of the most difficult changes of your life, three years of the same challenge, the same fears.  What do you do when it is over, how do you inspire others and motivate them to take on the same challenge you just left? Change the Narrative Project attempts to do just that through conversations started with designs. '">
    </app-simplecaseintro>

    <div class="bit-block case-width">
    
        <h4>Simple, Positive, Modern Design</h4>
        <p>I created the <a href="https://www.changethenarrativeproject.com"> Change The Narrative Project</a> to be a positive place which encourages people to break past our societies stereotypes of foster parents and the children they care for.  My hope was to create attractive designs that people would want to wear that were just thought provoking enough that they would spur conversations.  I also designed and developed the site to be fully responsive in order to maintain a positive viewing experience when on a mobile device.  </p>
        
        <img src="/assets/images/designbits/ctnp/home.png"/>

        <h4>Rasing Awareness to the Size of the Foster Care Challenge</h4>
        <p>While most people know about the foster care system and may even know someone who either was in foster care or was a foster parent, very few know just how large of a problem foster care has become in the United States.  Therefore, I wanted to display a few, very relatable statistics on the site which would hopefully give visibility into the scale of a challenge finding homes for children has become. </p>

        <img src="/assets/images/designbits/ctnp/stats.png"/>

        <h4>Changing Minds Through Design</h4>
        <p>While the messaging of the site is bringing awareness to the challenges of finding homes for foster children, the primary call to action is to buy a shirt.  This is call to action is made predominate on the page several times with a final call to action at the end of the page in a large grid showing a preview of the shirt designs. </p>

        <img src="/assets/images/designbits/ctnp/designs.png"/>


        <h4>Partnering with Spreadshirt</h4>
        <p>While I designed and developed the site myself (in Angular 8 for those who are curious), I did not have the means nor the time to create a online clothing store.  Therefore, I decided to partner with Spreadshirt, which is a service that will print and ship your designs for you.  Viewers of Change the Narrative Project are notified and then redirected to Spreadshirt if they decide to purchase a t-shirt. </p>

        <img src="/assets/images/designbits/ctnp/store.png"/>


       

    </div>

    <app-dbgettoknow
    [link]="'/kiwi'"></app-dbgettoknow>
</div>