<div class="case-width">

    <div class="section">
            <h3>THE RESEARCH</h3>
        
            <p>Creating the first Autonomous Vehicle ready for mass production is a race, and so was our project.  We had a very tight schedule that didn't even leave us enough time for a dedicated Sprint 0 or Design Sprint.  Instead we had to run Sprint 0 and our discovery research at the same time in order to meet the demands of the development schedule.</p>
            
            <p>This meant working quickly to understand stakeholder needs and prioritize them so that the development team had a clear direction, even if there weren't visuals to support it. Once I did have visuals created, I iterated quickly and stayed a week ahead of the development team with my mockups.</p>
    
            <h4>RUNNING DISCOVERY AND ITERATIVE MOCKUPS</h4>
    
            <p>In order to ensure that we had a validated design direction to work from each sprint I would run a "mini design sprint" each week with the output being a iterative mockup the development team would work from.  In sprint planning the project managers, stakeholders, business owners and myself would prioritize functionality to be researched, designed and tested that week.</p>
            
            <p>In order for this approach to be successful on such a limited time table it required that I have almost unlimited high-priority access to the client in order to interview and conduct usability test with users.</p>
            
            
            <h4>OPEN, HONEST AND DIRECT</h4>
            <p class="last">Our best tactic for dealing with the tight timeline was a very transparent approach to the work that we were doing.  This approach helped us establish a trusting relationship with the client where they always knew what we were working on and more importantly why.  It also gave us the opportunity to know the business requirements better and adequately address them in our own process.</p>
            
    </div>

    <div class="section">

        <h3>THE DISCOVERY</h3>

        <p>The discovery phase of each sprint was always a quick, high-intensity effort to understand our client's vision for our work and our users needs in order to be successful. The research I conducted revealed that while each of the users were working to build the same solution, they rarely interacted with one another and had vastly different needs.</p>
        
        <p>Users motivations for interacting with our system would therefore be very different for each of the different types of users in our audience. This suggested that we would have very different requirements for each of our personas.</p>
        
        <div class="image-container">
            <h5>The Audience</h5>
            <img src="assets/images/oldPortfolio/caseStudies/av/audience.png"/>
        </div>

        <div class="image-container">
            <h5>The Primary Persona</h5>
            <img id="persona" src="assets/images/oldPortfolio/caseStudies/av/auggie.png"/>
        </div>

        <h4>A MOVING TARGET</h4>

        <p>While conducting Discovery there were two major challenges I had to overcome.  The first was that we didn't have enough time for a true Design Sprint, so Discovery had to be done on the fly each sprint.  The second was that we were actually designing ahead of the client.  That is to say we were designing a system to handle data that actually didn't exist yet. </p>
        
        <p>This ended up proving to be the most difficult challenge as we were never able to get a clear picture of the type of data that we would be dealing with once it did exist.  To compensate for this I worked with the client to create design outcomes that they agreed to for each of our personas. Working toward achieving these agreed upon outcomes helped the entire team understand the direction the project should be heading in each sprint.  We constantly referred to these outcomes to drive functionality, direction and prioritization conversations. </p>
        
        <p>To help the team prioritize we worked with the client to identify many different personas who would be relying on our application in one way or another. After we created the different personas we were able to prioritize who we would focus on for each epic. For the phase that I was involved in we focused mostly on Auggie and Tammy.</p>
        

        <div class="bullet-points">

            <div class="bullet">
                <img src="assets/images/oldPortfolio/caseStudies/av/auggiehs.jpg"/>
                <p><span>As an Algorithm Developer</span> I want to be able to identify the data I need to find the root cause of a AV error in less than two minutes so that I can decrease my development time.</p>
            </div>

            <div class="bullet">
                <img src="assets/images/oldPortfolio/caseStudies/av/frankhs.jpg"/>
                <p><span>As an Fleet Manager</span> I want to be able to see where each AV is, what state it is in and who is driving it so that I can manage testing routes and test results.</p>
            </div>

            <div class="bullet">
                <img src="assets/images/oldPortfolio/caseStudies/av/tammyhs.jpg"/>
                <p><span>As a Testing Specialist</span> I want to know what routes will be run each day and who will be on them so that I can prioritize my test cases.</p>
            </div>
        </div>

        <h4>PREDICTING FUTURE USE</h4>

        <p>Since we were building a solution to solve a problem that wasn't fully defined yet, due to the lack of data, I had to get a bit creative to understand what the users anticipated they would need from the application in order to be successful. In order to help users visualize how they would interact with the application I created Storyboards for each of the different personas depicting them using the application to reach that persona's top one or two goals.</p>
        
        <p>Using these Storyboards as a talking point in user interviews I was able to judge the accuracy of our current design direction and get feedback on our vision very early on.</p>
            
        <div class="image-container">
            <h5>Auggie's Storyboard</h5>
            <img src="assets/images/oldPortfolio/caseStudies/av/joe_storyboard_v2.png"/>
        </div>

    </div>


    <div class="section">

        <h3>DEFINING DESIGN GOALS</h3>

        <p>Before the onset of our project, Algorithm Developers were forced to manually search through thousands of files in multiple data sources in order to identify the patterns necessary to complete debugging efforts. We wanted to enable Developers and Fleet Managers to spend more time being creative and innovating and less time combing through data.</p>        

        <div class="bullet-points">

            <div class="bullet">
                <img src="assets/images/oldPortfolio/caseStudies/av/eye.png"/>
                <p><span>Help Identify Patterns:</span> Eliminate manual pattern recognition and help expedite the debugging process.</p>
            </div>

            <div class="bullet">
                    <img src="assets/images/oldPortfolio/caseStudies/av/celebrate2.png"/>
                <p><span>Build Morale:</span> Show live updates of the AV fleet and celebrate program successes.</p>
            </div>

            <div class="bullet">
                    <img src="assets/images/oldPortfolio/caseStudies/av/safe.png"/>
                <p><span>Enable Safer Tests:</span> Streamline AV testing, management and surveillance to reduce risks.</p>
            </div>
        </div>

    </div>

    <div class="section">

        <h3>THE REQUIREMENTS</h3>

        <p>In every aspect of my research one thing was consistently emphasized, speed and not just in a technical sense, but also from a information architecture perspective.  Auggie needed to be able to quickly find the root cause of a specific issue and then see if it had been repeated in other cases.  Frank needed to quickly find out who was driving what route and what state their AV was in. Dan needed to know the results of a test in order to track the program's success over time in order to prioritize the roadmap. </p>
        
        <p>Focusing on these motivations when approaching the design for our solution helped to give me the perspective I needed to make any users interaction, quick and effective.  To help myself build this perspective further I composed a set of user stories for each persona based on my research findings.</p>
             
        <div class="image-container">
            <h5>Auggie's Goals</h5>
            <img src="assets/images/oldPortfolio/caseStudies/av/auggiesgoals.png"/>
        </div>
    </div>


    <div class="section">

        <h3>LOW FIDELITY MOCKUP TESTING</h3>

        <p>The Storyboards helped me to get a firm understanding of the functionality that users would need in order to successfully meet their goals. Next came the challenge of designing the experience.  In order to get user feedback early and iterate quickly I choose to create low fidelity mockups using Axure and conduct Usability Testing with those mockups.</p>
        
        <p>Using Axure gave me the ability to create a new version and test them every couple of days, which meant I was able to keep ahead of a fast moving development team and provide insight to the project management team as they prioritized each sprint. </p>

        <div class="image-container">
            <h5>Landing Search Page</h5>
            <img src="assets/images/oldPortfolio/caseStudies/av/homescreenlow.png"/>
        </div>

        <div class="image-container">
            <h5>Live AV Tracking</h5>
            <img src="assets/images/oldPortfolio/caseStudies/av/SearchResultslow.png"/>
        </div>
    </div>



    <div class="section">

        <h3>THE SOLUTION</h3>

        <p>Given the consistent feedback from User Testing the low fidelity mockup I was able to go forward with a high fidelity mockup for the next design iteration.  For this iteration I pushed the Advanced Search to be more capable and created a completely new event view which provided the user with multiple avenues of suggested further exploration in order to discover patterns within the data. </p>

        <p>The response to this new design was overall very positive.  As a result I was able to hand this latest iteration over the development team and begin our first design enhancement project to expand the capabilities of the design even further. </p>


        <div class="video-container">
            <video width="100%" controls>
                    <source src="assets/images/FordAssets/hifi_walkthrough.mp4" type="video/mp4">
                  Your browser does not support the video tag.
            </video> 
        </div>
    </div>
</div>
