<div class="main-container">
<div class="shape-block">

    <app-largediamond class ="large-one"
    [title]="'FindIT Search'" 
    [description]="'How might we change search at GE?'"
    [bwimage]= "'assets/images/findit_bw.png'"
    [colorimage]= "'assets/images/findit.png'"
    [caselink] = "'/findit'"
    ></app-largediamond>


    <app-colordiamond class="about-me-tri"
    [title]="'Team Up Time?'" 
    [description]="'See why I am a good fit for you team'"
    [caselink] = "'/about'"
    [calltoaction] = "'About Me'"
    [color] = "'light'"
    ></app-colordiamond>


    <app-diamondimg class="under-large-left"
    [title]="'Whose on First?'" 
    [description]="'How might we build better teams?'"
    [bwimage]= "'assets/images/ponyak_bw.png'"
    [colorimage]= "'assets/images/ponyak.png'"
    [caselink] = "'/ponyak'"
    ></app-diamondimg>


    <app-diamondimg class="above-about" 
    [title]="'The Space Race'" 
    [description]="'How might we fail fast and smart?'"
    [bwimage]= "'assets/images/ford_bw.png'"
    [colorimage]= "'assets/images/ford.png'"
    [caselink] = "'/ford'"
    ></app-diamondimg>


    <app-diamondimg class="bottom-right-of-about"
    [title]="'The Future of GE'" 
    [description]="'How might we attract top level talent?'"
    [bwimage]= "'assets/images/ghostred_bw.png'"
    [colorimage]= "'assets/images/ghostred.png'"
    [caselink] = "'/ghostred'"
    ></app-diamondimg>


    <app-diamondimg class="right-of-about"
    [title]="'Need for Speed'" 
    [description]="'How might we go faster and more accurate?'"
    [bwimage]= "'assets/images/importer_bw.png'"
    [colorimage]= "'assets/images/importer.png'"
    [caselink] = "'/importer'"
    ></app-diamondimg>


    <app-diamondimg class="top-far-right"
    [title]="'Sales, Sales, Sales'" 
    [description]="'How might we help sales focus on selling?'"
    [bwimage]= "'assets/images/sales_bw.png'"
    [colorimage]= "'assets/images/sales.png'"
    [caselink] = "'/sales'"
    ></app-diamondimg>


    <img src="assets/images/placeholder.png" class="placeholder-img"/>


    <app-diamondimg class="far-bottom-left"
    [title]="'Far and Wide'" 
    [description]="'How might we show the breadth of our company?'"
    [bwimage]= "'assets/images/acgMap_bw.png'"
    [colorimage]= "'assets/images/acgMap.png'"
    [caselink] = "'/acgmap'"
    ></app-diamondimg>

    <app-diamondimg class="far-bottom-right"
    [title]="'Where is My Stuff?'" 
    [description]="'How might we help build better solutions?'"
    [bwimage]= "'assets/images/coretech_bw.png'"
    [colorimage]= "'assets/images/coretech.png'"
    [caselink] = "'/coretech'"
    ></app-diamondimg>

    <app-colordiamond class="design-bits-diamond"
    [title]="'Ready For More?'" 
    [description]="'Then Design Bits might be right for you'"
    [caselink] = "'/designbits'"
    [calltoaction] = "'Design Bits'"
    [color] = "'dark'"
    ></app-colordiamond>

</div>

<div class="mobile-grid">
    <div class="row">
        <a href="/findit" class="left two-thirds findit">
            <div class="overlay">
                <!--<h4>FindIT Search</h4>-->
                <p>How might we change search at GE?</p>
            </div>
        </a>

        <a href="/ford" class="right one-third ford">
            <div class="overlay">
                <!--<h4>The Space Race</h4>-->
                <p>How might we fail fast and smart?</p>
            </div>
        </a>
    </div>

    <div class="row">
        <a href="/importer" class="left one-third importer">
            <div class="overlay">
                <!--<h4>Need For Speed</h4>-->
                <p>How might we go faster and more accurate?</p>
            </div>
        </a>

        <a href="/sales" class="right two-thirds sales">
            <div class="overlay">
                <!--<h4>Sales, Sales, Sales</h4>-->
                <p>How might we help sales focus on selling?</p>
            </div>
        </a>
    </div>


    <div class="row">
        <a href="/ponyak" class="left half ponyak">
            <div class="overlay">
                <!--<h4>Whose on First?</h4>-->
                <p>How might we build better teams?</p>
            </div>
        </a>
        
        <a href="/ghostred" class="right half ghostred">
            <div class="overlay">
                <!--<h4>The Future of GE</h4>-->
                <p>How might we attract top level talent?</p>
            </div>
        </a>
    </div>

    <div class="row">
        <a href="/coretech" class="left two-thirds coretech">
            <div class="overlay">
                <!--<h4>Where is my stuff?</h4>-->
                <p>How might we help build better solutions?</p>
            </div>
        </a>

        <a href="/acgmap" class="right one-third acgMap">
            <div class="overlay">
                <!--<h4>Far and Wide</h4>-->
                <p>How might we market the breadth of our company?</p>
            </div>
        </a>
    </div>
</div>

<app-contactblock></app-contactblock>
</div>