<app-largediamond class ="large-one"
[pic]="'findit'" 
[title]="'FindIT Search'" 
[description]="'How might we change search at GE?'"
[bwimage]= "'assets/images/findit_bw.png'"
[colorimage]= "'assets/images/findit.png'"
[caselink] = "'https://www.google.com'"
></app-largediamond>


<app-colordiamond class="about-me-tri"
[title]="'Team Up Time?'" 
[description]="'See why I am a good fit for you team'"
[caselink] = "'/about'"
[calltoaction] = "'About Me'"
></app-colordiamond>


<app-diamondimg class="under-large-left"
[pic]="'findit'" 
[title]="'Whose on First?'" 
[description]="'How might we build better teams?'"
[bwimage]= "'assets/images/ponyak_bw.png'"
[colorimage]= "'assets/images/ponyak.png'"
[caselink] = "'https://www.google.com'"
></app-diamondimg>


<app-diamondimg class="above-about"
[pic]="'findit'" 
[title]="'The Space Race'" 
[description]="'How might we fail fast and smart?'"
[bwimage]= "'assets/images/ford_bw.png'"
[colorimage]= "'assets/images/ford.png'"
[caselink] = "'https://www.google.com'"
></app-diamondimg>


<app-diamondimg class="bottom-right-of-about"
[pic]="'findit'" 
[title]="'The Future of GE'" 
[description]="'How might we attract top level talent?'"
[bwimage]= "'assets/images/ghostred_bw.png'"
[colorimage]= "'assets/images/ghostred.png'"
[caselink] = "'https://www.google.com'"
></app-diamondimg>

<app-diamondimg class="right-of-about"
[pic]="'findit'" 
[title]="'Need for Speed'" 
[description]="'How might we go faster and more accurate?'"
[bwimage]= "'assets/images/importer_bw.png'"
[colorimage]= "'assets/images/importer.png'"
[caselink] = "'https://www.google.com'"
></app-diamondimg>





