// The big featured one
.large-one {
    position: absolute;
    top: -65px;
    left: 50px;
}

// About Me Color Block
.about-me-tri {
    position: absolute;
    top: 208px;
    left: 456px;
}

// Right now this is Ponyak
.under-large-left {
    position: absolute;
    top: 333px;
    left: 315px;
}

// Right now this is ford
.above-about {
    position: absolute;
    top: 68px;
    left: 580px;
}

// Right now this is ghost red
.bottom-right-of-about {
    position: absolute;
    top: 332px;
    left: 580px;
}

// Right now this is the bill importer
.right-of-about {
    position: absolute;
    top: 200px;
    left: 712px;
}