<div class="shape-block">

    <app-largediamond class ="large-one"
    [title]="'FindIT Search'" 
    [description]="'How might we change search at GE?'"
    [bwimage]= "'assets/images/findit_bw.png'"
    [colorimage]= "'assets/images/findit.png'"
    [caselink] = "'https://www.google.com'"
    ></app-largediamond>


    <app-colordiamond class="about-me-tri"
    [title]="'Team Up Time?'" 
    [description]="'See why I am a good fit for you team'"
    [caselink] = "'/about'"
    [calltoaction] = "'About Me'"
    [color] = "'light'"
    ></app-colordiamond>


    <app-diamondimg class="under-large-left"
    [title]="'Whose on First?'" 
    [description]="'How might we build better teams?'"
    [bwimage]= "'assets/images/ponyak_bw.png'"
    [colorimage]= "'assets/images/ponyak.png'"
    [caselink] = "'https://www.google.com'"
    ></app-diamondimg>


    <app-diamondimg class="above-about" 
    [title]="'The Space Race'" 
    [description]="'How might we fail fast and smart?'"
    [bwimage]= "'assets/images/ford_bw.png'"
    [colorimage]= "'assets/images/ford.png'"
    [caselink] = "'https://www.google.com'"
    ></app-diamondimg>


    <app-diamondimg class="bottom-right-of-about"
    [title]="'The Future of GE'" 
    [description]="'How might we attract top level talent?'"
    [bwimage]= "'assets/images/ghostred_bw.png'"
    [colorimage]= "'assets/images/ghostred.png'"
    [caselink] = "'https://www.google.com'"
    ></app-diamondimg>


    <app-diamondimg class="right-of-about"
    [title]="'Need for Speed'" 
    [description]="'How might we go faster and more accurate?'"
    [bwimage]= "'assets/images/importer_bw.png'"
    [colorimage]= "'assets/images/importer.png'"
    [caselink] = "'https://www.google.com'"
    ></app-diamondimg>


    <app-diamondimg class="top-far-right"
    [title]="'Sales, Sales, Sales'" 
    [description]="'How might we help sales focus on selling?'"
    [bwimage]= "'assets/images/sales_bw.png'"
    [colorimage]= "'assets/images/sales.png'"
    [caselink] = "'https://www.google.com'"
    ></app-diamondimg>


    <img src="assets/images/placeholder.png" class="placeholder-img"/>


    <app-diamondimg class="far-bottom-left"
    [title]="'Far and Wide'" 
    [description]="'How might we show the breadth of our company?'"
    [bwimage]= "'assets/images/acgMap_bw.png'"
    [colorimage]= "'assets/images/acgMap.png'"
    [caselink] = "'https://www.google.com'"
    ></app-diamondimg>

    <app-diamondimg class="far-bottom-right"
    [title]="'Where is My Stuff?'" 
    [description]="'How might we help build better solutions?'"
    [bwimage]= "'assets/images/coretech_bw.png'"
    [colorimage]= "'assets/images/coretech.png'"
    [caselink] = "'https://www.google.com'"
    ></app-diamondimg>

    <app-colordiamond class="design-bits-diamond"
    [title]="'Ready For More?'" 
    [description]="'Then Design Bits might be right for you'"
    [caselink] = "'/designbits'"
    [calltoaction] = "'Design Bits'"
    [color] = "'dark'"
    ></app-colordiamond>

</div>

<div class="mobile-grid">
    <div class="row">
        <div class="left two-thirds">

        </div>

        <div class="right one-third">

        </div>
    </div>

    <div class="row">
        <div class="left one-third">

        </div>

        <div class="right two-thirds">

        </div>
    </div>


    <div class="row">
        <div class="left half">

        </div>
        
        <div class="right half">

        </div>
    </div>

    <div class="row">
        <div class="left two-thirds">

        </div>

        <div class="right one-third">

        </div>
    </div>
</div>

<app-contactblock></app-contactblock>