.large-one {
    position: absolute;
    top: -65px;
    left: 50px;
}

.about-me-tri {
    position: absolute;
    top: 208px;
    left: 456px;
}
.under-large-left {
    position: absolute;
    top: 333px;
    left: 315px;
}