<div class="empty-state-wrapper case-width">
    <img src="assets/images/emptystate.svg"/>
    <h3>Oops.</h3>
    <p>Looks like you have beaten me here.   I was so excited by the opportunity to apply to your company that I didn’t have a chance to finish this case study yet. </p>

    <h4>In the meantime can I distract you with some a nice case study I have had the chance to finish?</h4>

    <div class="completed-grid">
        <div class="three-wide-row">
                <div class="three-wide-block">
                    <a routerLink="/ford"><span>Ford:</span> How Might We Fail Fast and Smart?</a>
                </div>
        
                <div class="three-wide-block">
                    <a routerLink="/findit"><span>GE:</span> How Might We Change Search At GE?</a>
                </div>
        
                <div class="three-wide-block">
                        <a routerLink="/ghostred"><span>GE:</span> How Might We Attract Top Level Talent?</a>
                </div>
                
            </div>

            <div class="three-wide-row">
                    <div class="three-wide-block">
                        <a routerLink="/ponyak"><span>Pillar:</span> How Might We build better teamst?</a>
                    </div>
            
                    <div class="three-wide-block">
                        <a routerLink="/coretech"><span>GE:</span> How Might We Help Build Better Solutions?</a>
                    </div>
            
                    <div class="three-wide-block">
                            
                    </div>
                    
                </div>
    </div>
</div>

