<app-hero 
[title]="'How might we build better teams?'"
[sub]="'A case study about how UX help establish effective teams and manage employee allocation'"
[case]="'ponyak'"></app-hero>
<div class="main-container">

    <app-caseintro 
    [title]="'The All Seeing Ponyak'"
    [description]="'Imagine this, you manage over 50 developers, product managers, designers and QA professionals who work on one or more projects for one or more clients.  How do you determine who would fit best on each project? What methodology do you use in order to match requirements with skills and employee preferences? Most importantly how do you make sure you will have the resources you need in order to meet customer demands? Welcome to the madness that is contract development work. '"
    [company]="'Pillar Technology'"
    [projectapproach]="'Rapid Prototyping/Design Thinking'"
    [roles]="['User Interviews', 'Workshopping', 'Mind Mapping', 'Sketching', 'Wireframing', 'Visual Design', 'Interaction Design']"></app-caseintro>

    <app-problemsolution
    [problem]="['Pillar has three different offices, each of which serves at least five to ten different clients at a time. The result is a resource planning nightmare where project managers have to negotiate for the development and design resources they need for their project to be successful.  Pillar employees also have to constantly be their own advocate for the types of projects that support their career goals and match with their skillset. The challenge was to quickly create a internal system which could keep track of all these moving pieces and advocate for Pillar employees.']"
    [solution]="['This was a bench project, which meant it was something I was given very little time and resources in order to complete.  Therefore I took the approach of running a Mind Mapping workshop with the internal stakeholders, followed by rapid prototype and user testing iterations.  The result is a team planning tool that makes employee’s preferences clear while giving project managers the information they need in order to make informed resource staffing decisions.']"
    [team]="['This was a solo project I completed as a UX Architect and then handed off to a development team of two pairs.']"
    ></app-problemsolution>

    <app-impact
    [stats]="[['25%','Drop in meetings', ' called to solve staffing issues '],
    ['15%','Increase in employee satisfaction', ' with the projects they were assigned to '],
    ['35','Projects being managed', ' in the system within the first two months of it being available']]"
    ></app-impact>

    <app-oldponyak></app-oldponyak>
    
    <app-gettoknow
    [link]="'/ghostred'"></app-gettoknow>
</div>
