<div class="case-width">

    <div class="section">
        <h3>THE RESEARCH</h3>

        <p>A technology consultancy company (Pillar Technology) approached me to help them improve the design of an application they were working on to digitize possible workforce allocation scenarios based on the projects they had bids out for and were currently working. The timeframe to complete this design was very short, only three weeks, as the developers who would be working on implementing the design were doing the work as a bench project. </p>
                
        <p>The goal was to create an application that would allow leadership to both view how the company's workforce was currently allocated and also create plans to allocate the workforce in differently to account for different possible scenarios, such as winning a new large contract.  In the future the stakeholders also wanted to add intelligence to the solution so that it could use metadata about employees, such as their home address, previous projects and skill levels to suggest the optimal allocation of employees given a specific scenario. </p>
        
        <p>Three weeks to develop a complete design and style guide for a complex application was not a lot of time. Therefore instead of running a dedicated discovery sprint, I opted for a rapid prototyping approach were the first iteration would be informed by the results of a Mind Mapping session. </p>
                
        <p>I was able to get all of the stakeholders and some leadership to join together for an afternoon that we spent talking through the user's needs, motivations and goals, as well as, the business requirements that would have to be met.  The result was an artifact that provided insight into the application’s audience and the functionality that would be required in order for the design to be successful.</p>
                       
        <div class="image-container">
            <h5>MIND MAP</h5>
            <img src="assets/images/oldPortfolio/shorts/ponyak/ponyak_mm.png"/>
        </div>
    </div>

    <div class="section">
        <h3>TESTING</h3>

        <p>For this application to be a success it had to be faster to use than manually manipulating sticky notes on a whiteboard and taking pictures of different employee/team configurations.  This is a surprisingly high bar to overcome as users can quickly modify sticky notes and the barrier of taking a picture isn’t actually that high. Therefore, I needed to make sure that I was able to present content and functionality in a way that was highly intuitive.</p>
                
        <p>To discover the perfect information architecture I conducted multivariate A/B tests like the one below that tests a vertical vs. horizontal layout and list vs. tabbed scenario access.  Multivariate tests rarely give results that point to one pure solution over the other so my next iteration was typically a combination of features from both designs.  </p>
               
        <div class="image-container">
            <h5>FIRST A/B TEST</h5>
            <img src="assets/images/oldPortfolio/shorts/ponyak/side-by-side.png"/>
        </div>

    </div>

    <div class="section">
        <h3>THE FRAMEWORK</h3>

        <p>My plan to compensate for the tight timeline was to put meaningful designs in front of the user and conduct scenario based usability tests as frequently as reasonably possible. This approach turned out to be very successful as it provided the user with real world scenarios to test the wireframes with and it gave myself ample opportunities to validate that the design was heading in the right direction. </p>
                      
        <div class="image-container">
            <h5>FOUR HOMEPAGE ITERATIONS</h5>
            <img src="assets/images/oldPortfolio/shorts/ponyak/rapid.png"/>
        </div>

    </div>

    <div class="section">

        <h3>THE SOLUTION</h3>

        <p>I designed the workspace to take advantage of many conventions and affordances in order to ensure that there would be a short learning curve to becoming proficient using PONYAK.  From the bench full of draggable playing cards to the intuitive search and tab layout, PONYAK was designed for speed.</p>
        <p>The goal of leadership was to make the best employee assignments possible, which means having the information they need in order to make informed decisions. Therefore PONYAK not only makes suggestions based on what it knows, but also shares the information used to make that suggestion with the user so they can make a determination for themselves. In the end I was able to design an application which was faster, more secure and more informative than the previous approach of keeping long running sticky notes on a whiteboard. </p>

        <div class="video-container">
            <video width="100%" controls>
                    <source src="assets/images/PonyakAssets/walkthrough.mp4" type="video/mp4">
                    Your browser does not support the video tag.
            </video> 
        </div>
    </div>

</div>