<div class="intro-div case-width" id="target">
    <h2>{{title}}</h2>
    <p>{{description}}</p>
    <div class="three-wide-row">
        <div class="three-wide-block">
            <h6>MY ROLE</h6>
            <div class="block-content">
                <p *ngFor="let role of roles">
                    {{role}}
                </p>
            </div>
        </div>

        <div class="three-wide-block">
            <h6>COMPANY</h6>
            <div class="block-content">
                <P>{{company}}</P>
            </div>
        </div>

        <div class="three-wide-block">
            <h6>PROJECT APPROACH</h6>
            <div class="block-content">
                <P>{{projectapproach}}</P>
            </div>
        </div>
    </div>
</div>
