<app-hero 
[title]="'How Might We Fail Fast and Smart?'"
[sub]="'A case study about UX and the space race of our generation'"></app-hero>
<div class="main-container">

    <app-caseintro 
    [title]="'The Space Race Of Our Generation'"
    [description]="'Imagine this, you the future of transportation rests on your shoulders and all that stands between you and changing the world is solving one of the most challenging engineering feats of all time. How might you empower your team and give them the tools they need to be successful? This question is exactly what I was given the privilege to solve. '"
    [company]="'Ford Motor Company'"
    [projectapproach]="'Rapid Prototyping/Design Thinking'"
    [roles]="['User Research','User Interviews', 'Storyboarding', 'Personas', 'Sketching', 'Wireframing', 'Visual Design', 'Interaction Design']"></app-caseintro>


    <app-impact
    [stats]="[['43%','Drop in the Average Time', ' it took to Complete a Historical Data Search '],
    ['22%','Decrease in Wait times for developers', ' waiting for real life scenarios to be run to test their code '],
    ['5%','Decrease in The Number', ' of events captured before a bug was recognized in the AV navigation code'],
    ['100+','Scenario Searches Saved', ' within the first month of releasing the advanced search to developers']]"
    ></app-impact>
</div>