<app-hero 
[title]="'How Might We Fail Fast and Smart?'"
[sub]="'A case study about UX and the space race of our generation'"></app-hero>
<div class="main-container">

    <app-caseintro 
    [title]="'The Space Race Of Our Generation'"
    [description]="'Imagine this, you the future of transportation rests on your shoulders and all that stands between you and changing the world is solving one of the most challenging engineering feats of all time. How might you empower your team and give them the tools they need to be successful? This question is exactly what I was given the privilege to solve. '"
    [company]="'Ford Motor Company'"
    [projectapproach]="'Rapid Prototyping/Design Thinking'"
    [roles]="['User Research','User Interviews', 'Storyboarding', 'Personas', 'Sketching', 'Wireframing', 'Visual Design', 'Interaction Design']"></app-caseintro>

</div>