<app-hero 
[title]="'Looking For More?'"
[sub]="'Welcome to Design Bits, a space I created to brag about designs that don\'t warrant a case study'"
[case]="'designbits'"></app-hero>
<div class="main-container">

    <app-caseintro 
    [title]="'Not Every Project Can Be A Case Study'"
    [description]="'This is a space I created for the those projects, the design systems, personal projects, marketing sites and more.  It is a space that I hope you explore as you will get to see how I have explored in my career.  These projects have given me the opportunity to expand my own capabilities in the areas of project management, development, graphic design, enterprise design management, marketing and more.'"
    [company]="'Various'"
    [projectapproach]="'Design Thinking/Agile/Double Diamond'"
    [roles]="['Design System Owner','Marketing', 'Agile Project Management', 'Graphic Design', 'Sketching', 'Wireframing', 'Software Development', 'Interaction Design']"></app-caseintro>

    <div class="case first grey">
        <div class="case-width">
            <h4><a routerLink="/kiwi">The Kiwi Design System</a></h4>
            <p>After about a year after I became the very first designer at vMOX I started to advocate that we create a design system which could be used across all of the products that vMOX and it’s sister company Advantage create.  My vision was eventually adopted as one of the five primary company-wide goals for 2019 and the Atomic Design System called Kiwi was born!</p>
            <a routerLink="/kiwi" class="image-link">
                <div class="overlay">
                    <div class="call-to-action">
                        <i class="far fa-arrow-alt-circle-right"></i>
                        <a routerLink="/kiwi">See More</a>
                    </div>
                </div>
                <img src="assets/images/designbits/kiwi/landing.png"/>
            </a>
        </div>
    </div>


    <div class="case notfirst">
        <div class="case-width">
            <h4><a routerLink="/ctnp">The Change the Narrative Project</a></h4>
            <p>This is a personal passion project of mine that I completed in the fall of 2019.  My wife and I were foster parents who eventually were blessed with the opportunity to adopt our foster child after he was in our care for over three years.  The experience was life changing and eye opening.  I realized how my misconceptions and stereotypes about foster care exist in the world, many of which I believed myself before coming a foster parent.  I decided to try to do something to change that and started the Change the Narrative Project. </p>
            <a routerLink="/ctnp" class="image-link">
                <div class="overlay">
                    <div class="call-to-action">
                        <i class="far fa-arrow-alt-circle-right"></i>
                        <a routerLink="/ctnp">See More</a>
                    </div>
                </div>
                <img src="assets/images/designbits/ctnp/home.png"/>
            </a>
        </div>
    </div>

</div>
