<app-hero 
[title]="'How Might We Show The Breadth Of Our Company?'"
[sub]="'A case study about how UX changed a global marketing strategy'"
[case]="'acgmap'"></app-hero>
<div class="main-container">

    <app-caseintro 
    [title]="'A World of Opportunity'"
    [description]="'Imagine you get an email from the VP of Marketing asking you to take a back of the napkin idea and transform it into a brand new global advertising strategy using UX principles.  How might you combine the needs of advertising with the requirements of users? How do you balance sound UX principles and flashy marketing? How do you provide enough information to make the site valuable without giving away too much that the prospective customer doesn\'t need you anymore?'"
    [company]="'Advantage Communications Group'"
    [projectapproach]="'Rapid Prototyping/Design Thinking'"
    [roles]="['User Testing','Project Management', 'Requirements Gathering', 'Graphic Design', 'Sketching', 'Wireframing', 'Visual Design', 'Interaction Design']"></app-caseintro>

    <app-problemsolution
    [problem]="['As Advantage Communications Group expands to offer global solutions the company needs to be able to reassure larger companies with a vast global presence that Advantage has the partnerships with communications providers around the world to meet their companies specific needs.  Today the Advantage sales team relies on word of mouth advertising and securing in person meetings with potential clients to communicate the strength of Advantage\'s global partnerships.  In order to attract more prospects, Advantage needs a way to attractively show this information from their website.  ']"
    [solution]="['After many iterations of design I was able to guide the stakeholders through the process of determining the proper balance of advertising pizazz, access to meaningful data and intuitive user engagement.  The visual took shape as a auto forwarding carousel which displays where each provider Advantage partners with offers services around the globe.  This gives the prospective customer enough information for them to feel comfortable that Advantage will meet their needs, without providing so much information that they could just skip engaging Advantage altogether.  ']"
    [team]="['This time around the team was mostly myself leading the project working with the VP of Marketing, CEO, CTO and sales leadership.  Once a design was completed I carried it through a handoff with the development team at vMOX. ']"
    ></app-problemsolution>

    <app-impact
    [stats]="[['TBD','To Be Determined:', ' This project is in the process of being developed.  Once I have valuable statistics for the impact of this project I will update this case study here ']]"
    ></app-impact>

    <div class="new-section grey">
        <div class="case-width">
            <h3>THE RESEARCH</h3>
        
           <p>From the beginning this project had two goals 1) make prospective global customers feel confident that we could support their global communication needs with Advantage/'s partnership of providers 2) create a visual which accomplishes the first goal which encourages interaction and is attractive enough to impress potential clients.  As you may have already guessed there are times when these two goals come into direct conflict and it is the challenge of the UX Designer to balance these goals in these cases. </p>
           <p>Since interviewing existing or prospective customers was out of the question for this project I was left with working with stakeholders who were familiar with how prospective customers make decisions.  My initial contextual inquiries with these stakeholders showed that there was very little consensus between them leaving me with a unclear direction for size, scope and direction of the project. </p>
           <p>To manage this situation I decided to leverage Rapid Prototyping and User Testing to hopefully draw consensus with stakeholders, while narrowing in on a direction for the actual visual solution itself.  To accomplish this I did four rounds of A/B testing with a final iteration showing the agreed upon visual.  Each iteration took about a week to complete using Axure to create a high-ish fidelity click through mockup which was given to the stakeholders in a unscripted Usability Test.  </p>
           
            <div class="image-container">
                <img src="assets/images/UXApproach/designThinking.png"/>
            </div>

        </div>
    </div>

    <div class="new-section">
        <div class="case-width">
            <h3>HYPOTHESIS</h3>
            <p>Under normal circumstances I would really want to start by talking to users and understanding their needs, pain points, goals, motivations, etc by conducting a discovery.  Unfortunately in this instance that was not going to be possible given the attitude of leadership and the challenges with speaking to prospects.  Therefore I decided to proceed with a rapid iteration approach where I would test my assumptions using A/B tests each round.  Below is a summary level view of the testing plan for each round:</p>
        </div>
    </div>

    <div class="new-section grey">
        <div class="case-width">
            <h3>ITERATION ONE</h3>
            <p>Here is the test plan I put together for the first iteration A/B Test:</p>
            <div class="image-container">
                <img src="assets/images/acgmapAssets/r1.png"/>
            </div>

            <div class="image-container">
                <h5>Design A</h5>
                <img src="assets/images/acgmapAssets/1A.png"/>
            </div>

            <div class="image-container">
                <h5>Design B</h5>
                <img src="assets/images/acgmapAssets/1B.png"/>
            </div>

            <h5>Test Outcome</h5>
            <p>This first round of A/B testing led to many more questions, but the feedback was able to resolve many areas of ambiguity.  Discussions led the conclusion that users would be more likely to explore more if information was provided in context.  Additionally, it was agreed that it would be best for the brand if we kept the color palette to the blue hues used for Advantage.  We also concluded that while using the United Nations list of regions would be more politically correct, it would break the map up too much and make it difficult for the user to find what they need. Finally the stakeholder group agreed that instead of the original thought they had of breaking everything up by the number of providers a region had we should use the number of services.  This decision was based on the belief that the number of services would be more meaningful to the user. </p>

            <div class="image-container">
                <img src="assets/images/acgmapAssets/r1results.png"/>
            </div>

        </div>
    </div>


    <div class="new-section">
        <div class="case-width">
            <h3>ITERATION TWO</h3>
            <p>Being able to present two possible designs to the stakeholders led to more valuable conversations about aspects of the design which were previously not explored.  The majority of these questions focused around just how much information should be displayed.  Typically I would try to simply have a discussion to resolve these questions, however presenting visuals seemed to result in much more reliable feedback with this group.  As a result I was able to create another round of designs to address these questions.</p>
            <div class="image-container">
                <img src="assets/images/acgmapAssets/r2.png"/>
            </div>

            <div class="image-container">
                <h5>Design A</h5>
                <img src="assets/images/acgmapAssets/2A.png"/>
            </div>

            <div class="image-container">
                <h5>Design B</h5>
                <img src="assets/images/acgmapAssets/2B.gif"/>
            </div>

            <h5>Test Outcome</h5>
            <p>At this point there it started to become clear that there was a lot of uncertainty between the different stakeholders involved in the project as to which direction they should move forward.  As a result it was getting more difficult to receive dependable feedback. To overcome this issue I pushed for more discussions and for a broader meeting where the stakeholders and I met with several individuals from the sales and procurement teams.  This wider audience helped to establish a direction which ultimately set the design in it's final direction.</p>
            <p>You will notice that there was no clear winner in the first row of the table below.  The outcome of this test was that neither was exactly right and that the best approach would fall somewhere between the two designs. </p>


            <div class="image-container">
                <img src="assets/images/acgmapAssets/r2results.png"/>
            </div>

        </div>
    </div>


    <div class="new-section grey">
        <div class="case-width">
            <h3>ITERATION THREE</h3>
            <p>As we moved into the third iteration I felt like I was starting to get a feel for the type of look the stakeholders wanted to achieve.  I used this insight to push the designs to a higher fidelity and focus on solving some of the usability issues which had arisen throughout the prototyping process.  The biggest challenge to solve was how to make the navigation intuitive to the user and to determine how far the user should be allowed to zoom into the map. </p>
            <div class="image-container">
                <img src="assets/images/acgmapAssets/r3.png"/>
            </div>

            <div class="image-container">
                <h5>Design A</h5>
                <img src="assets/images/acgmapAssets/3a.gif"/>
            </div>

            <div class="image-container">
                <h5>Design B</h5>
                <img src="assets/images/acgmapAssets/3b.gif"/>
            </div>

            <h5>Test Outcome</h5>
            <p>At this point there started to be a pretty clear conflict between usability and advertising goals.  Usability would generally say that design B would be a better option as it makes it easier to find information, consolidates the navigation into a single location and presents decision making statistics in a easily digestible way.  However, advertising\'s point of view was that we do not want to make it too easy to find all of this information and the focus of the UI needs to stay within the bounds of Flashly while being meaningful. </p>
            <p>While this didn't leave a pleasant feeling in my UX centered brain it did make sense to support the goals of advertising in this case.  Therefore my goal became to make the agreed upon direction as intuitive as possible without jeopardizing any of advertising\'s wishes. </p>

            <div class="image-container">
                <img src="assets/images/acgmapAssets/r3results.png"/>
            </div>

            <p>The results of this iteration made it as clear as it could be, we had a final direction.  The stakeholders were now in alignment, the design was supporting their vision and I could confidently move forward with a final design.  i wasn't thrilled to put some UX principles on the back burner, I supported doing so in order to support the business goals. </p>

        </div>
    </div>



    <div class="new-section">
        <div class="case-width">
            <h3>SOLUTION</h3>
            
            <p>The final solution is limited interactive auto-forwarding set of provider coverage maps with supporting details shown in a attractive left side flyout. The users can control which region they are viewing from a pinned navigation pane at the bottom of the screen. The map also goes for the wow factor by displaying all of the providers spread across the world at once when the map first loads. </p>
            <div class="video-container">
                <video width="100%" controls>
                        <source src="assets/images/acgmapAssets/finalvideo.mp4" type="video/mp4">
                      Your browser does not support the video tag.
                </video> 
            </div>

        </div>
    </div>

    <div class="new-section">
        <div class="case-width">
            <h3>CHALLENGES AND LESSONS LEARNED</h3>
            <p>The biggest challenge for this project was working without access to the users.  As a UX professional the best way to set design direction and to defend a design decisions is to base them on strong user research data.  There will always be a balance between business, technology and UX, but it is very difficult to strike the correct balance when UX is advocating for a user which has not been researched. </p>
            <p>The next challenge was facilitating concenious between the stakeholders.  This was the primary theme of the project as I went through each iteration; providing a means for the stakeholders to envision the solution and come to an agreement on just what that solution should be.  Being able to present the stakeholders with clickable mockups each iteration went a long way to help them visualize the potential solutions, but I know I could have driven conversations better.</p>
            <p>In the end I believe that this project resulted in a solution which met the goals we set out to achieve and did so within the timeframe allowed to complete it.</p>
        </div>
    </div>
    
    <app-gettoknow
    [link]="'/coretech'"></app-gettoknow>
</div>