.main-container {
    max-width: 1200px;
    margin: 0px auto;
    position: relative;
}
.case-width {
    max-width: 800px;
    margin: 0px auto;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    min-width: 600px;
}
body, html {
    padding:0px;
    margin:0px;
    color: #333;
}