<div class="case-width">

    <div class="section">
        <h3>THE RESEARCH</h3>

        <p>This project's primary objective was to - define and design an entry level talent recruitment program to help GE Digital attract "Smart, Creative Engineers" who  transform GE into a Digital Industrial Company.</p>
                
        <p>GE Digital recognized that it was having difficulty hiring talented young professionals who were opting to work for companies such as Facebook, Apple, Google and Amazon which are seen as more exciting, leading edge, creative and innovation focused.  As a result I was asked to help GE Digital re-brand itself and spread awareness of it's unique career opportunities through a entry level talent recruitment program, to be called GhostRed. </p>

        <h4>THE APPROACH - PLAY THE LONG GAME</h4>
        
        <p>For most a successful recruitment program is judged by its short-term ability to translate candidate interest into successful hires. Based on my research I was able to stress that the long-term ability of a recruitment program to make a positive impression on a community of promising talent is more valuable than successfully hiring a few candidates quickly. </p>
                
        <p>Therefore, to differentiate ourselves in an already mature and competitive recruitment environment we needed to focus on meeting the needs of our primary users in new, creative and beneficial ways. This opened up the exciting opportunity to truly understand how entry level tech talent made employment decisions and how we could create a program to emphasize with that process. </p>

        <p>My design approach for this project was to run a discovery sprint, followed by weekly design sprints.  The output of the discovery sprint was all of my research and a /"Grand Vision/" mockup, showcasing the direction for the design.  This was an opportunity to unify the team around a single design vision and help everyone gain empathy for our users through user research.  Each subsequent design sprint after the discovery sprint mocked what development would create for the next sprint. This iterative approach allowed me to test the the finer points of the design once the grand vision was established. </p> 

        <p>Sharing our methods and thinking from the outset helped to foster a strong stakeholder relationship. This was particularly valuable for UX Research as it gave the stakeholders the insight they needed to really empathize with our users and become advocates for there specific needs, goals and motivations. This strong relationship with stakeholders also helped us to understand their business challenges.  Together we identified risks and came to a consensus on expectations for the program. </p>
                
        <h4>DISCOVERY</h4>
        <p>My Discovery Research focused on gaining empathy for each of the personas which would be impacted by our solution.  To gain this insight I conducted phone and in-person interviews with high school &amp; college students, recruiters, hiring managers and entry level talent at GE and other companies.</p>
                
        <p>These interviews were very conversational and open-ended to ensure the participants felt they had the opportunity to tell me everything they felt was most important. The outcome of these interviews was enough research that I could create validated personas to drive our program direction and design.</p>
                
        <div class="bullet-points">

            <div class="bullet">
                    <img style="border-radius: 0px;" src="assets/images/oldPortfolio/caseStudies/gr/martyhs.jpg"/>
                <p><span>As a Hiring Manager</span> how can I make sure the person is a good fit for my team and our responsibilities?</p>
            </div>

            <div class="bullet">
                    <img style="border-radius: 0px;" src="assets/images/oldPortfolio/caseStudies/gr/roberths.jpg"/>
                <p><span>As a Recruiter</span> how can I integrate into the community and make talent think of GE when they or their friends are in the job market?</p>
            </div>

            <div class="bullet">
                    <img style="border-radius: 0px;" src="assets/images/oldPortfolio/caseStudies/gr/cindyhs.jpg"/>
                <p><span>As a College Student</span> how can I get to know a company that I might work for before the offer letter is sent?</p>
            </div>
        </div>

        <h4>HIGH IMPACT MVP</h4>
        <p>My research revealed that the reasons why most of our personas would participate in GhostRed were similar.  This suggested that there could be a very effective vertical thin slice or MVP we could develop to meet the needs and goals of many of our personas at once.  It also suggested that we could create recruitment events that would be beneficial for many of personas at the same time, encouraging maximum participation.  </p>
                
        <p>Given this we were able to prioritize the goals and features of our MVP solution to support the needs and goals of Robert, Cindy and Marty.  We planned for the later phases to support Holly and Hank.  </p>
        
        <p>We used personas as living documents and referred to them to guide design decisions, priorities and to build empathy throughout the team and stakeholders. </p>
        
        <div class="image-container">
            <h5>The Audience</h5>
            <img src="assets/images/oldPortfolio/caseStudies/gr/audience.png"/>
        </div>

        <div class="image-container">
            <h5>The Primary Persona</h5>
            <img id="persona" src="assets/images/oldPortfolio/caseStudies/gr/marty.png"/>
        </div>

        <h4>Ethnographic Study</h4>
        <p>The research interviews provided a wealth of insights into the needs of our users and helped the entire team to get an understanding of the environment we were entering into with our solution.  However, nothing beats first hand experience, so we went to MHacks, to feel for ourselves what it is like to participate in a world class hackathon sponsored by some of the world's more influential companies. </p>                

        <div class="image-container">
            <img id="persona" src="assets/images/oldPortfolio/caseStudies/gr/mhacks.png"/>
        </div>

        <h4>JOURNEY MAP</h4>
        <p>In order to visualize the end-to-end experience of a new candidate I utilized experience mapping techniques.  This allowed me to represent the user's pain-points and communicate with stakeholders our aspirations for the solution. </p>                
        <div class="image-container">
            <img id="persona" src="assets/images/oldPortfolio/caseStudies/gr/experiencemap.png"/>
        </div>

    </div>
    <div class="section">
        <h3>DESIGN GOALS</h3>
        <p>Competitors to GhostRed focus on evaluating candidates quickly, our vision was to create a lasting, positive experience that gives everyone an opportunity to feel excited about the prospect of the candidate joining GE.  To demonstrate this I synthesized our vision and research into three outcomes we hoped to achieve with the GhostRed design.</p>        
                
        <div class="bullet-points">

            <div class="bullet">
                <img src="assets/images/oldPortfolio/caseStudies/gr/lasting.png"/>
                <p><span>Lasting Relationships:</span> I want to be able to identify the data I need to find the root cause of a AV error in less than two minutes so that I can decrease my development time.</p>
            </div>

            <div class="bullet">
                <img src="assets/images/oldPortfolio/caseStudies/gr/newGe.png"/>
                <p><span>The New GE:</span> Share interesting challenges GE is solving as it comes a digital company.</p>
            </div>

            <div class="bullet">
                <img src="assets/images/oldPortfolio/caseStudies/gr/worldchangeing.png"/>
                <p><span>World-Changing Solutions</span> Help candidates connect with how GE is disrupting the industrial world.</p>
            </div>
        </div>

        <h4>REQUIREMENTS</h4>
        <p>Synthesizing desired outcomes from the research provided a frame of reference I could use to determine the content, interactions and tone that would give our audience the best experience. Thinking about the user's motivations and goals when approaching our solution helped me to determine the functionality that would best serve those needs.</p>
        <div class="image-container">
            <img src="assets/images/oldPortfolio/caseStudies/gr/requirements.png"/>
        </div>

        <p>Knowing exactly who I was designing for allowed me to put myself in the user's shoes and ask myself "why am I here and what do I need in order to have a successful interaction?".  That mindset let me imagine the ideal user experiences and focus on how each persona would think and behave in order to fulfill their motivations for visiting GhostRed. </p>
                
        <p>By considering high level scenarios I was able to easily explore different design approaches and test them with potential users. </p>
        
    </div>

    <div class="section">
        <h3>A/B TESTING</h3>

        <p>Thinking about the mindset user's will have when coming to our site helped me to come up with the tone of the experience, but with so many different types of users visiting our site it was difficult to know the design approach that would appeal to the widest group within our audience. To gain insight into this decision I crafted a multivariate A/B Usability Test where I conducted in-person design assessment with two Axure mock-ups.</p>
                
        <p>I designed these mock-ups to purposefully be polar opposites of one another to ensure I would get clear results out of my design assessments.  The assumption was that the "winning" design would be a combination of features from each of the initial designs. </p>

        <div class="image-container">
            <h5>A/B Testing Plan</h5>
            <img src="assets/images/oldPortfolio/caseStudies/gr/a_b_test_breakdown.png"/>
        </div>

        <div class="image-container">
            <h5>A/B Side by Side Compare</h5>
            <img src="assets/images/oldPortfolio/caseStudies/gr/a_b_test_homepage_side_by_side.png"/>
        </div>

        <h4>A/B TEST KIT</h4>
        <p>Once I had developed the two high level designs for my design experiment, I created a test kit based on the goals and motivations of the primary personas. The multivariate A/B Usability Test kit included a set of open-end scenarios related to the goals of the persona the participant most closely reflects. This approach leads to more insightful feedback as it places the participant in real world situations without scripted directions detailing how to interact with the application to achieve their goal.  Instead it more accurately reflects how a user is likely to interact with the site once it goes live. </p>
        <div class="image-container">
            <img src="assets/images/oldPortfolio/caseStudies/gr/test_kit.png"/>
        </div>

        <h4>THE RESULTS</h4>
        <p>Analyzing the feedback I received from completing the A/B Usability Test with six participants yielded extremely valuable insights.  From the results I was able to determine not only a direction for the look and feel of the site, but also the information users found most impactful when deciding to engage/participate in GhostRed.</p>
                
        <p>Even more profound what that the way the test was structured allowed us to break down that feedback by persona type, making prioritization based on the section of our audience we felt was most important to reach a simpler task. </p>

        <div class="image-container">
            <img src="assets/images/oldPortfolio/caseStudies/gr/a_b_test_results_chart.png"/>
        </div>

        <p>Looking back at the A/B Usability Test and the results, I should have kept the Axure mock-ups at a lower fidelity, with high fidelity homepages.  This would have provided several benefits: First, it would have allowed the test participants to focus more on the information presented, navigation scheme, etc without being distracted by the aesthetics of the site. Second, it might have encouraged additional feedback as the site would have looked less complete, giving participants the feel that their feedback would have a greater impact on the direction of the site as it wasn't as far along. Finally, the homepage would have been a large enough sample of the look and feel to get customer's feedback on that particular design direction. </p>

    </div>

    <div class="section">
        <h3>THE FRAMEWORK</h3>

        <p>Understanding the context of how different users would be interacting with our app from the results of the A/B Usability Test helped me develop a clear vision of the tonal expectations of our potential users. From this information we were able to develop a set of guiding brand principles we wanted our presence to embody. These principles were used (and still are today) to drive the aesthetic, feel, look and tone of the app.</p>

        
        <div class="image-container">
            <img src="assets/images/oldPortfolio/caseStudies/gr/brand.png"/>
        </div>

        <p>The A/B Usability Test results yielded enough feedback to decide on a general design direction, navigation approach and interaction design for the site. From my results I was able to conclude that I needed to strike a balance between a dark, edgy theme and a creative, inviting feel. </p>

        <p>I also needed to focus on providing multiple navigation routes to important information that would help users make decisions.  Additionally I needed to make a clear distinction between information that would be beneficial for participants and that which recruiters and managers would find helpful.  </p>

        <div class="image-container">
            <h5>Full To-Do List of Changes</h5>
            <img src="assets/images/oldPortfolio/caseStudies/gr/todo.png"/>
        </div>


    </div>

    <div class="section">

        <h3>THE SOLUTION</h3>

        <p>Axure proved to be the best tool of choice for prototyping because of its ability to create high-fidelity, click-able, and responsive (adaptive view) mock-ups. Using Axure I was able to translate our guiding brand principles and the design direction into a final iteration mock-up that I took through another round of Usability Testing. I also created a style guide for the development team to reference and a asset library of all the graphics I had created.</p>

        <p>The results of that Usability Testing round suggested that only minor tweaks were needed to the content and design.  After I made those changes I created one more mock to serve as our Sprint One mock-up. For each sprint I created a new mock-up showing the functionality that should be added for that sprint.  I typically stayed one to two weeks ahead of the development team to leave adequate time for development/testing.  </p>

        <h4>THE FINAL MOCKUP</h4>
        <div class="video-container">
            <video width="100%" controls>
                    <source src="assets/images/GhostRedAssets/walkthrough.mp4" type="video/mp4">
                    Your browser does not support the video tag.
            </video> 
        </div>
    </div>


</div>
                
