<app-hero 
[title]="'The Kiwi Design System'"
[sub]="'Making it easy to get from design to done'"
[case]="'kiwi'"></app-hero>

<div class="main-container">

    <app-simplecaseintro 
    [title]="'The Design System for Manipulating Mountainous Masses of Data'"
    [description]="'Imagine that you are responsible for leading two 50 person companies from 10 million dollar companies into becoming 100 million dollar companies and one the determining factors of your success is the ability of the companies to bring new features to market fast.  How will you enable your development teams to make efficient, world-class solutions that look as good as they preform at the pace required by market forces? I was able to propose and help lead the creation of a design system which has reduced development and design time by over 30%, improve user satisfaction by 40% and we are just getting started. '">
    </app-simplecaseintro>

    <div class="bit-block case-width">
    
        <h4>Reusable, Atomic, Modular Component Library</h4>
        <p>The core of the Kiwi Design system is the Component Library.  I was given the freedom to design each of these components from a blank slate based on the research I’ve conducted throughout my career at vMOX.  As a result I was able to optimize each interaction to handle the vast quantities of data and complex workflows vMOX and Advantage employees work with each day.</p>
        
        <img src="/assets/images/designbits/kiwi/components.png"/>

        <h4>Detailed implementation and interaction information</h4>
        <p>Each component has its own page in Kiwi which details not only the basic structure of the component, but also it’s interactions, variations, error states, empty states, responsiveness and more.  This information serves not only as guide for designers and product owners, but also as technical information for the developers who created the component. This documentation, like all of Kiwi is treated as \’living\’ and is updated as the component is expanded.</p>

        <img src="/assets/images/designbits/kiwi/component-example.png"/>

        <h4>Built with iterative design in mind</h4>
        <p>For each component and template in kiwi there is also a corresponding element in both our custom high and low fidelity Axure mockup libraries.  This allows the design team to create accurate mockups quickly by dragging and dropping fully interactive and customizable Axure components from the cloud delivered library. </p>

        <img src="/assets/images/designbits/kiwi/axure.png"/>


        <h4>Full featured templates to cover the 90%</h4>
        <p>True to the Atomic Design theory our components are combined to create templates which can be used to cover approximately 90% of the pages we design. These flexible templates cover typical situations such as data tables, record views, card views and more.  These templates are built completely from Kiwi components and receive the same documentation treatment in Kiwi.</p>

        <img src="/assets/images/designbits/kiwi/template.png"/>


        <h4>Flexible design guidelines to maintain consistency</h4>
        <p>The Kiwi Design System also includes guidelines which must be followed for design aspects such as typography, empty states, voice, tone, colors, imagery and more.  These guidelines maintain our brand identity and help maintain consistency across multiple companies, products and platforms. </p>

        <img src="/assets/images/designbits/kiwi/colors.png"/>


        <h4>Comprehensive icon library of KIF\'s (Kiwi Icon Font)</h4>
        <p>Finally, I created the Kiwi Icon Library known affectionately as KIF (Kiwi Icon Font).  Using the KIF library means we can deliver a simplified visual footprint across our applications and a consistent aesthetic for our users. </p>

        <img src="/assets/images/designbits/kiwi/icons.png"/>

    </div>

    <app-dbgettoknow
    [link]="'/empty'"></app-dbgettoknow>
</div>