<app-hero 
[title]="'What Is Design Doing?'"
[sub]="'A blog to connect developers, designers and project managers'"
[case]="'blog'"></app-hero>

<div class="main-container">

    <app-simplecaseintro 
    [title]="'In A Remote Workplace How Do You Stay Connected?'"
    [description]="'Imagine that you part of a completely remote workplace and in charge of establishing the first UX design team within a eight year old technology company. How to do you build trust and interest in the work you are doing to advocate for the user and build support for the designs you create? Is it possible to accomplish your goals even when you don’t have the opportunity to be in the same room with your coworkers? One approach I took to help solve this problem was to create a blog called What Has Design Done Lately?'">
    </app-simplecaseintro>

    <div class="bit-block case-width">
    
        <h4>Building a Internal UX Brand</h4>
        <p>As part of a very early beta version of the design system I created while at vMOX I started a blog called <a href="https://grahamcr.github.io/kiwi/blog/blog.html"> What Has Design Done Lately?</a>. While I am not proud of the design, I am proud of the impact the blog had.  Each post had three parts, what has design done lately, what is design planning to do and a new or interesting UX fact. </p>
        
        <img src="/assets/images/designbits/blog/landing.png"/>

        <h4>Tone Matters</h4>
        <p>I intentionally wrote each post in a very conversational tone with hopes of driving adoption and retaining my coworkers interest.  While I covered very important topics, I also took a bit of time to mix in fun Easter eggs to encourage the reader to take the time to at least scan the entire content of the post.</p>

        <img src="/assets/images/designbits/blog/tone.png"/>

        <h4>Seeing is Believing</h4>
        <p>If you are interested to find out more and see of the stories I shared with our technology team please visit the blog at <a href="https://grahamcr.github.io/kiwi/blog/blog.html">Kiwi Beta Blog</a></p>

        <img src="/assets/images/designbits/blog/new.png"/>


        <h4>The Start of Something More</h4>
        <p>This blog and the rest of the original Kiwi Design Site was a beta to test out how the team might respond to the development of a proper design system.  The success of the beta site led me to create a <a href="https://zmsbck.axshare.com/#g=1&p=kiwii_thoughts&c=1">project proposal</a> which became one of the four company wide goals for vMOX/Advantage in 2019. The resulting design system has saved hundreds of hours of development and design effort.  If you would like to find out more check out the <a routerLink="/kiwi">Kiwi Design System Design Bit</a>. </p>

        <img src="/assets/images/designbits/kiwi/landing.png"/>


       

    </div>

    <app-dbgettoknow
    [link]="'/kiwi'"></app-dbgettoknow>
</div>