<app-hero 
[title]="'How Might We Go Faster and Be More Accurate?'"
[sub]="'A case study about how UX made the worst part of someone\'s job the easiest thing they do'"
[case]="'importer'"></app-hero>
<div class="main-container">

    <app-caseintro 
    [title]="'Need For Speed'"
    [description]="'Imagine that you are an account manager responsible for maintaining the mobile environments for 10 or more companies each month. Each customer can have multiple accounts, some with only a few hundred lines and some with over 100,000. Every month it is your responsibility to load the invoices into your companies system, manage that data for accuracy and then use it to generate savings.  The more you save your customer the more your employer will earn (and ultimately the more you will get paid).  How would you break this task down into manageable steps and create an experience which will both improve the time to task completion and the accuracy of the data the process produces?'"
    [company]="'vMOX'"
    [projectapproach]="'Double Diamond'"
    [roles]="['Discovery Interviews', 'User Testing','Project Management', 'Requirements Gathering', 'Personas', 'Storymapping', 'Sketching', 'Wireframing', 'Visual Design', 'Interaction Design']"></app-caseintro>

    <app-problemsolution
    [problem]="['']"
    [solution]="['']"
    [team]="['']"
    ></app-problemsolution>

    <app-impact [title]="'The Impact'"
    [stats]="[['TBD','To Be Determined:', ' This project is in the process of being developed.  Once I have valuable statistics for the impact of this project I will update this case study here ']]"
    ></app-impact>

    <div class="new-section grey">
        <div class="case-width">
            <h3>THE RESEARCH</h3>
        
            <p></p>


        </div>
    </div>

    <div class="new-section">
        <div class="case-width">
            <h3>HYPOTHESIS</h3>
            <p></p>
        </div>
    </div>

    

    <div class="new-section">
        <div class="case-width">
            <h3>SOLUTION</h3>
            
            <p>The final solution is limited interactive auto-forwarding set of provider coverage maps with supporting details shown in a attractive left side flyout. The users can control which region they are viewing from a pinned navigation pane at the bottom of the screen. The map also goes for the wow factor by displaying all of the providers spread across the world at once when the map first loads. </p>
            <div class="video-container">
                <video width="100%" controls>
                        <source src="assets/images/acgmapAssets/finalvideo.mp4" type="video/mp4">
                      Your browser does not support the video tag.
                </video> 
            </div>

        </div>
    </div>

    <div class="new-section grey">
        <div class="case-width">
            <h3>CHALLENGES AND LESSONS LEARNED</h3>
            <p>The biggest challenge for this project was working without access to the users.  As a UX professional the best way to set design direction and to defend a design decisions is to base them on strong user research data.  There will always be a balance between business, technology and UX, but it is very difficult to strike the correct balance when UX is advocating for a user which has not been researched. </p>
            <p>The next challenge was facilitating concenious between the stakeholders.  This was the primary theme of the project as I went through each iteration; providing a means for the stakeholders to envision the solution and come to an agreement on just what that solution should be.  Being able to present the stakeholders with clickable mockups each iteration went a long way to help them visualize the potential solutions, but I know I could have driven conversations better.</p>
            <p>In the end I believe that this project resulted in a solution which met the goals we set out to achieve and did so within the timeframe allowed to complete it.</p>
        </div>
    </div>
    
    <app-gettoknow
    [link]="'/acgmap'"></app-gettoknow>
</div>