<app-hero 
[title]="'How Might We Fail Fast and Smart?'"
[sub]="'A case study about UX and the space race of our generation'"
[case]="'ford'"></app-hero>
<div class="main-container">

    <app-caseintro 
    [title]="'The Space Race Of Our Generation'"
    [description]="'Imagine this, you the future of transportation rests on your shoulders and all that stands between you and changing the world is solving one of the most challenging engineering feats of all time. How might you empower your team and give them the tools they need to be successful? This question is exactly what I was given the privilege to solve. '"
    [company]="'Ford Motor Company'"
    [projectapproach]="'Rapid Prototyping/Design Thinking'"
    [roles]="['User Research','User Interviews', 'Storyboarding', 'Personas', 'Sketching', 'Wireframing', 'Visual Design', 'Interaction Design']"></app-caseintro>

    <app-problemsolution
    [problem]="['Ford Algorithm Developers need access to very specific historical operational data in order to test changes and observe the Autonomous Vehicle fleet in real time to make observations and direct changes while the AV is operational.  Today they are leveraging cell phones to communicate with test drivers and complex database queries to multiple sources in order to retrieve historical data. ']"
    [solution]="['Retrieving historical data was simplified by creating a powerful advanced scenario search interface with favorites for even faster results when a developer is working on the same problem over a extended period of time.  Augmenting this data is a powerful trend dashboard allowing developers to catch insights faster.  A command center style map boosted morale and established a way to access real-time tracking information. ']"
    [team]="['The project team consisted of one UX Architect (myself) a development team of roughly four pairs of developers and one project manager. We were located on-site at Ford working closely with their AV development team.  The project ran one week long sprints with the design sprint running one sprint ahead of the development team.  My responsibilities included researching the direction of the product, developing testing plans, creating high fidelity mockups, collaborating with developers and the project manager. ']"
    ></app-problemsolution>

    <app-impact [title]="'The Impact'"
    [stats]="[['43%','Drop in the Average Time', ' it took to Complete a Historical Data Search '],
    ['22%','Decrease in Wait times for developers', ' waiting for real life scenarios to be run to test their code '],
    ['5%','Decrease in The Number', ' of events captured before a bug was recognized in the AV navigation code'],
    ['100+','Scenario Searches Saved', ' within the first month of releasing the advanced search to developers']]"
    ></app-impact>

    <div class="new-section grey">
        <div class="case-width">
            <h3>THE RESEARCH</h3>

            <p>Our initial directive included two goals, 1) Empower developers to discover and solve bugs/shortcomings in the AV operational code faster and 2) Improve the speed and efficiency of real time AV testing.  This meant I had a clear primary persona to focus on from the start, Algorithm Developers, however that doesn't mean we should not consider the needs of other audience members. </p>
            
            <p>Therefore to start my research I conducted a discovery round of open-ended user interviews with seven future users, focusing on our two goals. <span class="bold">As a result of these interviews two very important insights came to light</span>.  The first was that we would be creating a system capable of delivering information the users currently did not have access to, which meant they had a hard time visualizing what the experience might mean for their unique responsibilities and needs.  The second most impactful insight was that we actually had two primary personas we needed to consider in order to meet our business goals.  Beyond the Algorithm Developer we would also need to empower the Fleet Manager who was in charge of the AV's so they could meet the new demands of the developers.  </p>

            <app-twopicwidget [imgone]="'/assets/images/FordAssets/audience.png'" [imgtwo]="'/assets/images/FordAssets/portfolio.png'"> </app-twopicwidget>

            <p>Next I wanted to test how I thought users would benefit from interacting with our new data discovery and testing tool.  Since our users were having difficultly imagining what those interactions might look like I decided to go back to our users with storyboards.  These storyboards gave me a tool which I could use to help our users picture how they might use our solution in some of the common scenarios I identified in the discovery interviews. </p>

            <div class="image-container">
                <app-imgexploder [imgsrc]="'assets/images/oldPortfolio/caseStudies/av/joe_storyboard_v2.png'"></app-imgexploder>
            </div>

            <p>Using the storyboards as a discussion tool led to more valuable insights which I was able to translate into actionable design goals my solution should achieve for each persona.  Below is an example of the type of information I was able to gather for the primary persona (Auggie, our Algorithm Developer):</p>

            <div class="image-container">
                <app-imgexploder [imgsrc]="'assets/images/oldPortfolio/caseStudies/av/auggiesgoals.png'"></app-imgexploder>
                
            </div>

        </div>
    </div>

    <div class="new-section">
        <div class="case-width">
            <h3>HYPOTHESIS</h3>
        
            <p>Under normal circumstances I would want to develop a A/B Test, however with our tight timeline I did not have enough time to create multiple designs.  Therefore, I did my best to create a comprehensive low fidelity mockup to use in Moderated Usability Tests. </p>
            <p>My hypothesis coming out of the research phase was that the primary motivating factor for our users would be the speed which they could locate and then comprehend data.  The results of the research also suggested that most of our users will be doing the same task, for the same data repeditivitly until the issue is resolved.  Therefore, creating shortcuts for frequently required tasks would go a long way to improving the speed which data could be retrieved.</p>
            <p>The culmination of hypothesis resulted in a two-tiered search which allowed for quick simple searches and more complex advanced queries, which could be saved and run quickly at a later time.  This was paired with a event view which was expansive enough to cover possible leads on patterns the developer could further investigate if they thought the data warranted it. </p>
            <p>In addition I also created a command center like view which the developers and fleet managers could observe and control the test fleet.  This would bring real-time statistics into the equation when solving event causing issues in the code base. </p>
            
            <app-twopicwidget [imgone]="'/assets/images/FordAssets/homescreenlow.png'" [imgtwo]="'/assets/images/FordAssets/SearchResultslow.png'"> </app-twopicwidget>

            <p>Next I wanted to test how I thought users would benefit from interacting with our new data discovery and testing tool.  Since our users were having difficultly imagining what those interactions might look like I decided to go back to our users with storyboards.  These storyboards gave me a tool which I could use to help our users picture how they might use our solution in some of the common scenarios I identified in the discovery interviews. </p>

            <div class="image-container">
                <app-imgexploder [imgsrc]="'assets/images/oldPortfolio/caseStudies/av/joe_storyboard_v2.png'"></app-imgexploder>
                
            </div>

            <p>Using the storyboards as a discussion tool led to more valuable insights which I was able to translate into actionable design goals my solution should achieve for each persona.  Below is an example of the type of information I was able to gather for the primary persona (Auggie, our Algorithm Developer):</p>

            <div class="image-container">
                <app-imgexploder [imgsrc]="'assets/images/oldPortfolio/caseStudies/av/auggiesgoals.png'"></app-imgexploder>
            </div>

            <p>Feedback from our users focused on two areas: 1) the Advanced Search capabilities were not nearly complex enough to handle the type of queries the developers were running and 2) the developers would benefit from a more data and trend information when viewing a event. </p>
            <p>The first point sent me back to the drawing board to come up with a manageable way to display close to 100 categories of data that would be either included or excluded and then either logically 'OR'd' or 'AND'D' with other categories. To manage this complex structure I created a filterable and sortable tree hierarchy which the developers could easily map too.  This structure then became the new Advanced Search. </p>
            <p>The second point focused on another time-intentisive task our users cared a lot about and which was related to data comprehension was pattern recognition.  Therefore, I proposed building out additional functionality that would use machine learning to help the developers and testers find patterns easily.  The design would push these insights to users by finding related issues automatically and providing relevant statistics which would help the user connect the dots between multiple events.   </p>
        </div>
    </div>

    <div class="new-section grey">
        <div class="case-width">
            <h3>SOLUTION</h3>
            
            <p>Given the consistent feedback from User Testing the low fidelity mockup I was able to go forward with a high fidelity mockup for the next design iteration.  For this iteration I pushed the Advanced Search to be more capable and created a completely new event view which provided the user with multiple avenues of suggested further exploration in order to discover patterns within the data. </p>
            <p>The response to this new design was overall very positive.  As a result I was able to hand this latest iteration over the development team and begin our first design enhancement project to expand the capabilities of the design even further. </p>

            <div class="video-container">
                <video width="100%" controls>
                        <source src="assets/images/FordAssets/hifi_walkthrough.mp4" type="video/mp4">
                      Your browser does not support the video tag.
                </video> 
            </div>

        </div>
    </div>

    <div class="new-section">
        <div class="case-width">
            <h3>CHALLENGES AND LESSONS LEARNED</h3>
        
            <p>Going from conceptualization to a finalized direction in less than a few weeks can be difficult.  However when the business goals demand a breakneck pace, UX has to be able to more with less information.  This process did just that by fitting in as much discovery as possible while still keeping pace with the development demands. </p>
            <p>I also faced the challenge of designing a experience for a data set that actually didn't exist yet.  This meant that neither the client project managers nor the users really had a clear picture of the type of data they would have access too once it did exist.  To overcome this I created scalable and flexible interfaces which would be able to handle this ambiguity.  </p>
            <p>At the end, I knew we had a strong solution because I was able to convince leadership to spend some of our precious time getting to know our users, understanding their needs and pain points, so we could create a solution that would empower them to meet the design goals. 

        </div>
    </div>
    
    <app-gettoknow
    [link]="'/ponyak'"></app-gettoknow>
</div>